{% extends "base.html" %}

{% block title %} About App Theta {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/hover-overlays.css">
<style>
	.view-first .mask {
		background-color: rgba(255,255,255,1);
	}
	view .mask{
		height:265px;
	}
	.mask_content{
		text-align: left;
		padding:20px;
	}
</style>

<div class="container-fluid" style="margin-top:15px">
	<h1 style="text-align:center">
		<span>Team</span>
	</h1>
</div>

<div class="container-fluid">

<div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="view view-first">
				<div class="bio-container inline-headers">
					<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/dan_felix.jpg" />
					<h3>Dan Felix<BR /><span>Founder, Technical Lead</span></h3>
				</div>
				<div class="mask">
					<div class="mask_content">
						<p>Dan is a math-loving programmer. Prior to founding App Theta, Dan worked on fraud detection algorithms at Google. </p><p>He did similar work for Fair Isaac (FICO), where he wrote the algorithms in use by most of Canada's banks.</p><p>Dan has an M.A. in math from UCSD, and a BS in math from Rice. Dan is an expert chess payer, and he lives with his wife Susy and son in Berkeley.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="view view-first">
				<div class="bio-container inline-headers">
					<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/andrew_johnson.jpg" />
					<h3>
						Andrew Johnson<BR /><span>Founder, Business Lead</span>
					</h3>
				</div>
				<div class="mask">
					<div class="mask_content">
						<p>Andrew writes code, the blog, and is a multi-skilled generalist.</p><p> He previously founded the hit outdoor app, Gaia GPS, which was featured in Apple's 2014 Your Verse campaign. </p><p>Andrew has a BS in Business from Carnegie Mellon. He is an avid outdoorsmen, gamer, and lives with his wife Anna and two kids in Berkeley. </p>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="view view-first">
				<div class="bio-container inline-headers">
					<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/anna_johnson.jpg" />
					<h3>
						Anna Hentzel Johnson<BR /><span>Software Engineer</span>
					</h3>
				</div>
				<div class="mask">
					<div class="mask_content">
						<p>Anna founded Gaia GPS. Before that, Anna worked at Google and Silicon Age as a software engineer.</p><p>Anna earned degrees in computer engineering and mathematics at Iowa State University ('03), graduating with honors. During college, she interned at Microsoft and IBM. Anna also holds a second degree black belt in Taekwondo. She lives with her husband Andrew and two kids in Berkeley.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="view view-first">
				<div class="bio-container inline-headers">
					<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/tikhon_bernstam.png" />
					<h3>Tikhon Bernstam<BR /><span>Advisor</span></h3>
				</div>
				<div class="mask">
					<div class="mask_content">
						<p>Tikhon founded <a href=http://parse.com>parse.com</a> and <a href=http://scribd.com>scribd.com</a>. Tikhon is a developer and angel investor. He has invested in over 30 startups, including Reddit and Optimizely.</p>
						<p>See more about <a href=https://en.wikipedia.org/wiki/Tikhon_Bernstam>Tikhon on Wikipedia</a>.</p>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="view view-first">
				<div class="bio-container inline-headers">
					<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/josh_braegger.jpg" />
					<h3>Josh Braegger<BR /><span>Advisor</span></h3>
				</div>
				<div class="mask">
					<div class="mask_content">
						<p>Josh Braegger is a full-stack developer, and he works at TrailBehind on back-end and app development. He previously worked at Backcountry.com, and he also helped build Utah-area start-ups Space Monkey and Beyond Oblivion.</p>

<p>Josh received a B.S. in computer science from Weber State University. He lives with his wife Natalie and two kids in Bountiful, Utah.</p>
					</div>
				</div>
			</div>
		</div>
	</div>





  <div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="view view-first">
				<div class="bio-container inline-headers">
					<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/george_grellas.jpg" />
					<h3>George Grellas<BR /><span>Advisor</span></h3>
				</div>
				<div class="mask">
					<div class="mask_content">
						<p>George heads a 7-attorney boutique law firm and has been a startup specialty lawyer since 1984, having represented countless Silicon Valley startups ranging from garage stage to massive (two that grew to $1B+ market cap) and including many Y Combinator and StartX ventures.</p> <p>He has a well-established reputation for startup work in the Valley and even in odd places such as Hacker News. He prides himself most on giving strategic guidance on key legal and practical issues for his clients.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="view view-first">
				<div class="bio-container inline-headers">
					<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/kevin_lacker.jpg" />
					<h3>
						Kevin Lacker<BR /><span>Advisor</span>
					</h3>
				</div>
				<div class="mask">
					<div class="mask_content">
						<p>Kevin is a computer science and mathematics expert, and entrepreneur. He co-founded mobile back-end company Parse, which was acquired by Facebook, and games company Gamador. He worked on the search quality team at Google between 2005-09.</p>
<p>Kevin earned a M.S. in computational biology from Berkeley and a B.S. in computer science and mathematics from Duke University. He earned a Putnam, twice.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="view view-first">
				<div class="bio-container inline-headers">
					<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/tom_longson.jpg" />
					<h3>Tom Longson<BR /><span>Advisor</span></h3>
				</div>
				<div class="mask">
					<div class="mask_content">
						<p>
				Tom Longson is a senior developer at selfscore.com, and a previous 500 Startups founder with expertise in FinTech, at companies such as Wells Fargo and GogoCoin, as well as consumer experience work with Sony, Walt Disney Studios, and Cars.com. He has built websites for selling games, managing credit cards and providing gift cards. He loves opportunities to give people the power to enrich their lives, much as SelfScore gives people who otherwise are unable to build their credit the opportunity to do so.
				</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="bio-container inline-headers">
				<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/dan_silberman.jpg" />
				<h3>Dan Silberman<BR /><span>Advisor</span></h3>	
			</div>
		</div>
	</div>
</div>

<div style="clear:both;padding-bottom:30px"></div>	
{% endblock %}