{% extends "base.html" %}

{% block title %} App Theta - Account {% endblock %}

{% block content %}

<div style="padding:10px" ng-controller="AccountController">

	<div class="container-fluid">
		<div class="col-sm-12">
			<h1 style="margin-top:0"><i class="mdi-social-person"></i>Account Settings </h1>
		</div>
		<div class="col-sm-6">
			<div class="info-box shadow-z-1" style="margin-bottom:20px">
				<h2 style="margin-top:0">Basics</h2>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>Name</td>
							<td>{{user.first_name}} {{user.last_name}}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{{user.username}}</td>
						</tr>
					</tbody>
				</table>
      </div>
			<div class="info-box shadow-z-1" style="margin-bottom:20px">
        <h2>Sync Sales Reports</h2>
	      {% include 'partials/sync-sales-reports-partial.html' %}		
				{% if not itunes_accounts.0 and not google_play_accounts.0 %}
	 			 <p style="color:red"><i class="mdi-alert-warning"></i>&nbsp;No accounts connected. Connect an Apple or Google account to sync reports.</p>
					{% endif %}
			</div>

       <div class="info-box shadow-z-1" style="margin-bottom:20px">
				<h2>Notification Settings</h2>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>Daily Sales Report</td>
							<td><input type="checkbox" ng-change="toggleDailyReport()" ng-model="sendDailySalesReport"></td>
						</tr>
						<tr>
							<td>Newsletter Emails</td>
							<td><input type="checkbox" ng-change="toggleNewsletter()" ng-model="sendNewsletter"></td>
						</tr>
					</tbody>
    		 </table>

				</div>
				</div>
		<div class="col-sm-6">
			
			<div class="info-box shadow-z-1" style="margin-bottom:20px">
				<h2>API Key</h2>
					{{apiKey}}
					<BR /><BR />
			{% if sdk_versions %}
				<h2>Deployed SDKs</h2>
				<table class="table table-striped">
					<tbody>
				{% for platform, info in sdk_versions.items %}
  			  {% for id, version in info.items %}
					<tr>
							<td>
							  {{platform}}
							</td>
							<td>
							  {{id}}
							</td>
							<td>
							  {% if version %} {{version}} {% else %} SDK v1.0 {% endif %}
							</td>
					</tr>
    			{% endfor %}
				{% endfor%}
    		  </tbody>
    		 </table>

				{% else %}
				No SDKs installed. <a href='/docs/'>View the docs.</a>.
				{% endif %}
				</div>

			<div class="info-box shadow-z-1">
				<h2 style="margin-top:0">Payment Info</h2>
				{% if has_subscription %}
				<p>Current card is a <strong>{{ user.customer.card_kind}}</strong> ending in the digits <strong>{{ user.customer.card_last_4 }}</strong>.</p>
				<br>
				<a id='changeCardButton' class="btn btn-raised btn-primary" href="#" title="Update your credit card info">Change Card</a> 
				<a id='cancel' class="btn btn-default" ng-click="openCancelPopover()">Cancel Subscription</a>
				{% else %}
				Not subscribed. <a href='/pricing/'>Choose a plan</a>.
				{% endif %}
			</div>
		</div>



		</div>
	</div>
</div>

{% endblock %}

{% block body_js %} 
{% include 'partials/add-account-popover-partial.html' %}
{% include 'partials/confirm-delete-account-popover-partial.html' %}
<style>
	.info-box {
		padding:10px;
		background-color:white;
	}
</style>
<!--customer popover--> 
<script type="text/ng-template" id="cancel_popover.html">
	<div class="modal-header">
		<h3 style="float:left" class="modal-title">Cancel Subscription</h3>
		<BR />
	</div>
	<div class="modal-body">
		Are you sre you want to cancel your App Theta subscription?
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="ok()">OK</button>
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</script>

<script src="{{ STATIC_URL }}js/GraphDataService.js"></script>
<script src="{{ STATIC_URL }}js/AppInfoService.js"></script>
<script src="/static/js/AccountController.js"></script>
<script src="//checkout.stripe.com/v2/checkout.js"></script>
<script type="text/javascript">
	$(function(){
		var redirectURL = '/account/';
		$stripeForm = $('#stripeForm');
		$changeCardButton = $('#changeCardButton')
		$progressModal = $('#progressModal');
		$errorModal = $('#errorModal');
		$successModal = $('#successModal');
		$('#retryButton').click(function(){
			$errorModal.modal('hide');
			$changeCardButton.trigger('click');
		});
		$stripeForm.submit(function(event) {
			event.preventDefault();
			var values = $(this).serialize();
			$.ajax({
				url: '/customers/change_card_ajax/',
				type: "post",
				data: values,
				success: function(data){
					$progressModal.modal('hide');
					$successModal.modal('show');
					setTimeout(function(){
						window.location = redirectURL;
					}, 3000);
				},
				error:function(data){
					var str = JSON.parse(data.responseText);
					$progressModal.modal('hide');
					$errorModal.modal('show');
					$('#errorMsg').text(str);
				}
			});
		});
		$changeCardButton.click(function(){
			var token = function(res){
				$progressModal.modal('show');
				$stripeForm.find("input[name=stripe_token]").val(res.id);
				$stripeForm.submit();
			};
			StripeCheckout.open({
				key:         '{{ STRIPE_PUBLIC_KEY }}',
				name:        "Payment Method",
				panelLabel:  'Change Card Information',
				token:       token
			});
			return false;
		});
	});
</script>
{% endblock %}