{% extends "dashboard/app-details-base.html" %}

{% block title %} {{app_info.name}} - App Store Ranks and Revenue {% endblock %}

{% block content %}

<!--ng-hide until the graph data is loaded, so there isn't funky loading  -->
<div style="margin:30px">

	<div class="col-sm-9">
  <div class="info-box shadow-z-1" style="padding:20px;background-color:white;;margin-bottom:20px">
	<img class="app-icon" src="{{app_info.icon_url}}" style="display:inline" />
		<h2 style="margin-right:20px;display:inline" > {{app_info.name}}</h2>
    <div style="margin-top:20px;margin-bottom:30px;">
	    {% for url in app_metadata.screenshotUrls %}
	      <img style="width:19%" src={{url}} />
	    {% endfor %}
	   </div>
  </div>

  <div class="info-box shadow-z-1 application" style="padding:20px;background-color:white;margin-bottom:20px;float:left;width:100%">
		<h3 style="margin-top:0" class='application' ng-if="graphData.graphs.length">App Store Ranks and Revenue</h3> 
		<div class='application' style="margin-top:6px" ng-if="graphData.graphs.length">		
			{% include 'partials/date-selector-partial.html' %}
		</div>

		<a class="application category-picker" ng-click="openCountryPopover()" ng-if="graphData.graphs.length">
			{% verbatim %}	{{selectedCountry}}{% endverbatim %}
			&nbsp;<span class="caret"></span>
		</a>


		<div style="height:1px;width:100%;clear:both;margin-bottom:10px"></div>
		{% include 'partials/appdetails-graphs-partial.html' %}
</div>
  <div class="info-box shadow-z-1" style="padding:20px;background-color:white;float:left;">
		<h3 style="margin-top:0">App Description</h3> 
		<div style="clear:both;">
      {{app_metadata.description | linebreaks}}
    </div>
   </div>
    

	</div>
</div>
	<div class="col-sm-3 shadow-z-1" style="padding:15px;padding-top:5px;background-color:white">
		<h3 style="margin-top:0;padding-top:0"><span>Publisher</span></h3>
		<p>{{app_info.developer}}<BR />
		<h3 style="margin-top:0;padding-top:0"><span>Distribution</span></h3>
     				<a href="https://itunes.apple.com/us/app/id{{app_info.identifier}}">
		<img style="width:100px; " src="/static/img/download-app-store.svg" /></a>
</p>
		<h3 style="margin-top:0;padding-top:0"><span>Publisher Apps</span></h3>
    <ul class="list-unstyled" ng-if="!graphData.didFetchProductInfo">
		{% for app in publisher_apps %}
		  <li style="margin-top:10px">
		    <a href="/apps/{{app.platform}}/US/{{app.bundle_id}}/">
		      {{app.name | truncatechars:32}}
		    </a>
		  </li>
		{% endfor %}
	  </ul>
    {% verbatim %}
    <ul class="list-unstyled" ng-if="graphData.didFetchProductInfo">
		  <li style="margin-top:10px" ng-repeat="(key, app) in graphData.otherApps">
		    <img class="app-icon" src={{app.icon}} />
		    <a href="/apps/{{app.platform}}/US/{{key}}/">
		      {{app.name}}
		    </a>
		  </li>
	  </ul>
    {% endverbatim %}
    

	</div>
</div>

<!-- prevent floating graphs overlapping the footer -->
<div style="clear:both"></div>

<noscript>
    <style>
        .application { display: none !important; }
    <style>
</noscript>

{% endblock %}

{% block js_content %}
{% include 'partials/add-account-popover-partial.html' %}
{% include 'partials/confirm-delete-account-popover-partial.html' %}

<style>
body {
	background-color: white !important;
}
</style>
<script>
	  // these variables are set for drilldowns, but not the main dashboard
	  var series_name = undefined;
	  var product_ids = null;
	  var developer_mode = "False";
	  var stripe_public_key = null;
	  django_user = "{{user.username}}";
	  var sdk_versions = {};
	  app = "{{app_info | safe}}";
	  publisher_json = {{publisher_json|safe}};
	</script>
	{% endblock %}
