<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% include "partials/main-header.html" %}
    {% block head %}{% endblock %}
  </head>

  <body ng-cloak id="base_body" ng-app='theta' ng-controller="SignupController" >
    {% include "partials/navbar-partial.html" %}
    <div class="main-content">
      {% block content %} {% endblock %}
    </div>
    {% include "partials/footer-logged-out-partial.html" %}
    {% include "partials/main-js-includes.html" %}
    {% block body_js %}{% endblock %}
    <style>
    .navbar-right{
      padding-top:20px;
    }

    </style>
  </body>

</html>
