{% extends "base.html" %}

{% block title %} App Theta - Data Privacy Policy {% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="white-container shadow-z-1">


<h2>App Theta Data Privacy Policy</h2>
<h3>Modified: April 29, 2015</h3>

<p>App Theta offers four data privacy options for app developers, to use their data with the App Theta predicitive model.</p>

<h4>No Restrictions</h4>
<p>
Most users (non-paid users) of App Theta provide their sales data without restriction. This means we use their data to both train and test the App Theta predictve model, and we provide raw data to entities (e.g. hedge funds) that wish to use data for their own predictive models.
</p>

<h4>Tier 2: Private Model Use</h4>
<p>
Large companies that pay a fee can opt to keep their data private, while using the App Theta predicitive model. 
</p>

<h4>Tier 3: Train-Only Data Use</h4>
<p>
Large companies that pay a fee can opt to keep their data private, while using the App Theta predicitive model. 
</p>


</div>
</div>

{% endblock %}