{% extends "base.html" %}

{% block title %}App Theta Documentation{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="white-container shadow-z-1">

		<h2>App Theta Documentation</h2>

    <div ng-controller="TabsController">
      <tabset type="pills">
        <tab heading="iOS" active="active.iOS" ng-click="activateTab('iOS')">
          {% include 'partials/ios-docs-partial.html' %}
        </tab>
        <tab heading="Android" active="active.Android" ng-click="activateTab('Android')">
          {% include 'partials/android-docs-partial.html' %}
        </tab>
        <tab heading="API" active="active.API" ng-click="activateTab('API')">
          {% include 'partials/web-docs-partial.html' %}
        </tab>
        <tab heading="Python" active="active.Python" ng-click="activateTab('Python')">
          {% include 'partials/python-docs-partial.html' %}
        </tab>
      </tabset>
    </div>
  </div>
</div>
{% endblock %}

{% block body_js %}
      <script src="  {{ STATIC_URL }}js/GraphDataService.js"></script>
      <script src="  {{ STATIC_URL }}js/AppInfoService.js"></script>
<script>
  angular.module('theta').controller('TabsController', function (ProductService, $scope, $window, $location) {
    $scope.active = {
          iOS: false,
          API: false,
          Android: false,
          Python: false,
        };
    $scope.activateTab = function (tab) {
      if (!tab) {
        tab = "iOS";
      }
      for (var key in $scope.active) {
        if (key == tab) {
          $scope.active[key] = true;
          var search = $location.path('/').search();
          search.tab = key;
          $location.path('/').search(search);
        } else {
          $scope.active[key] = false;          
        }
      }
    }
    $scope.activateTab($location.path('/').search().tab);
  });
</script>
{% endblock %}
