{% extends "base.html" %}

{% block title %} Frequently Asked Questions (FAQ) {% endblock %}

{% block content %}

<div class="container-fluid" style="padding-bottom:30px">
	<div class="white-container shadow-z-1">

<h2>Frequently Asked Questions</h2>

<ol>
<li><h3>Does App Theta keep my data private?</h3>
For paid customers, we have data privacy options. Unlike competitors, we try to make it very clear how our model works.
</li>

<li><h3>How does the predictive model work?</h3>
We interpolate public rankings data, with app sales report data, to predict apps. In addition, there may be some other proprietary signals that affect the estimates.
</li>

<li><h3>Isn't it crazy to share my data?</h3>
If you are not one of the top 5 developers in your category, we think it makes sense from a game theoretic point of view.<BR /><BR /> 

The most sophisticated companies already have app revenue predictions, such as large technology companies or big game studios. So, by using the service, developers cooperate to generate the same level of insight down market.
</li>

<li><h3>Do you share my raw data?</h3>
We typically do not share any report data in raw form. Instead, sales data is used in aggregate by a statistcal model to make predictions about sales. In some limited cases, we could also sell an aggregate set of raw sales data.
</li>

<li><h3>What if I want to keep my data private, but still use the service?</h3>
You may purchase an enterprise license to use the service with private data.
</li>
</ol>

</div>
</div>

{% endblock %}
