{% extends "base.html" %}

{% block title %} App Theta - Support {% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="white-container shadow-z-1">

<h2>Support</h2>

	<p>If you need help with App Theta, contact us at <a href="founders@apptheta.com">founders@apptheta.com</a>.</p>

  <p>We will personally help you with using App Theta, and we are very familiar with developing apps for iOS and Android (and the web).</p> 

  <p>Expect great support.</p>
</div></div>
	{% endblock %}