{% extends "base.html" %}
{% block title %}App Theta{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="home-content" ng-controller='HomePageController'>
	<!-- top video header -->
	
		<div id="dashboard" class="infoBoxBackground">

			<div class="innerDiv container">
				<h1 class="home-title top-title">
					<div class="hidden-xs">Conquer the App Store (for free)</div>
					<BR class="hidden-xs" />
					<span class="gray">Sales dashboard. Competitor estimates. <a id="home-signup-button" href="javascript:void(0)" class="btn btn-primary shadow-z-2" ng-click="openSignupPopover()">Try App Theta</a></span>
				</h1>

				<a id="home-dashboard-image" href="/demo/" ><img style="margin-top:120px" src=/static/img/3-graphs.png class="dashboard-screenshot"></a>

			</div>
		</div>

		<HR style="margin-top:189px" />
		<!-- the panel below the screenshot the summarizes App Theta -->
		<div id="metrics" class="infoBoxBackground" ng-mouseover="reloadGraph()">

			<div class="innerDiv container" style="height:400px" resize>
				<h1 class="home-title" style="margin-bottom:60px;">
					<div class="hidden-xs" s>How it Works</div>
					<BR class="hidden-xs" />
					<span class="gray">Understand your position and trajectory in the market.</span>
				</h1>
				<div class="col-sm-5">
	  			<ul class="list-unstyled" style="text-align:left;margin-top:80px">
						<li style="margin-bottom:30px">
		  				<h2>
		  				  1) Sync your app sales reports to see sales trends and competitor predictions.
		  				</h2>
						</li>

						<li style="margin-bottom:30px">
			  			<h2>
			  			  2) App Theta uses machine learning to estimate app earnings, based on public rank data, sales data, and other signals.
			  			</h2> 
						</li>

						<li>
						  <h2>
						    3) Use the service for free, or get enterprise integration and data privacy options with a paid plan.
						  </h2>
						</li>
					</ul>
				</div>

				<div class="col-sm-1">
				</div>
				<div class="col-sm-5" style="padding-top:100px;text-align:middle">
					<img src="/static/img/app-store.jpeg" /><BR /><BR /><BR />
					<img src="/static/img/google-play.jpeg" /><BR /><BR /><BR />
					<div style="clear:both"></div>

				</div>

			</div>

			   <div class="imageContainer hidden-xs"  style="position:relative;bottom:-25px">
					<div id="chart" >
						<rickshaw rickshaw-options="throughput.options" rickshaw-features="throughput.features" rickshaw-series="throughput.series">
						</rickshaw>    
					</div>
				</div>
		</div>

		
			<HR>

				<!-- the bottom panel that shows App Theta users -->
				<div id="theta_users" class="infoBoxBackground">
					<div class="container innerDiv">

									<h1 class="home-title top-title" style="margin-bottom:80px">
					<div class="hidden-xs">Get to know your Market. </div>
					<BR class="hidden-xs" />
					 <a id="bottom-home-signup-button" href="javascript:void(0)" class="btn btn-primary shadow-z-2" ng-click="openSignupPopover()">Try App Theta</a>
				</h1>
						{% verbatim %}
<div ng-repeat="developer in theta_devs" class="col-sm-6" style="margin-bottom:20px;min-height:240px">
						<div class="info-box info-box-app" style="background-color:rgba(235,235,235,1)"> 
						  <a class="developer-url" href="{{developer.url}}" style="text-decoration:none">
							  <div style="margin-top:0;margin-bottom:30px">
  							  <img ng-src="{{developer.headshot_url}}" style="width:120;height:120px;float:left;margin-right:15px;border-radius:64px" />
	  							<div style="text-align:left;margin-top:0"> 
  	  						  <div class="h3" style="margin-top:0">{{developer.name}}<BR /><span style="font-size:.8em">{{developer.title}}</span></div>
	  	  						<p class="devloper-quote h4">"{{developer.quote}}"</p>
	  	  				  </div>
		  				  </div>
		  				  <div style="clear:both;text-align:left">
			  					  <table><tbody>
			  					  <tr>
			  					  <td style="padding-right:15px">
			  					  <img ng-src="{{iconForApp(developer.main_app.id)}}" style="width:72px;height:72px;border-radius:12px" />
			  					  </td>
			  					  <td>
  		    					  <p class="h4" style="display:inline">{{developer.main_app.title}}
		    					    <BR/>{{developer.main_app.description}}</p>
		    					  </td>
		    					  </tr>
		    					  </tbody></table>
		  						<ul style="float:left" ng-if="developer.other_apps.length" class="list-inline list-unstyled">
								    <li ng-repeat="app in developer.other_apps" ng-cloak> 
								      <img ng-src="{{app.icon_url}}" style="width:57px"/>
								    </li>
								  </ul>
								</div>
						</a>
				</div>
				</div>

						<ul class="list-inline list-unstyled app-list" style="clear:both;padding-top:50px;margin-bottom:200px">
							<li ng-repeat="app in theta_apps" class="col-sm-3 app-user" ng-hide="!nameForApp(app.id).length" ng-cloak> 
								<a class="developer-icon-url" href="{{app.url}}">
									
								<img ng-src="{{iconForApp(app.id)}}" /> <BR />
								<h4 class="shorter-truncate" style="margin-bottom:100px">{{nameForApp(app.id)}}</h4> </a>
								</a>
							</li>
						</ul>
						{% endverbatim %}
					</div>
				</div>
			</div>
			{% endblock %}


			{% block body_js %}
			<script>
			test_homepage=true;
    series_name = undefined; // the homepage only shows a dummy graph
    theta_apps = {{theta_apps | safe}};  // apps to list who use theta in bottom panel
    theta_devs = {{theta_devs | safe}};  // apps to list who use theta in bottom panel
  </script>

  <!-- rickshaw to render the graph-->
  {% include "partials/rickshaw-includes.html" %}  
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pricing.css">
  <script src="{{ STATIC_URL }}js/angular-rickshaw.js"></script>
  <!-- fetch app icons -->
  <script src="{{ STATIC_URL }}js/GraphDataService.js"></script>
  <script src="{{ STATIC_URL }}js/AppInfoService.js"></script>
  <!-- render the dummy graphs -->
  <script src="{{ STATIC_URL }}js/homepage.js?"></script>
  {% endblock %}
