{% extends "base.html" %}

{% block title %} App Theta - Jobs {% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="white-container shadow-z-1">

		<h2>Work at App Theta</h2>
    <p>We are building a multi-displinary team. We'd encourage talented people of all kinds to apply.</p>
    <p>Tell us how you have made things grow, or about great things you have built.</p>

    Are you a:

    <ul>
    <li>Data Scientist</li>
    <li>Software Developer</li>
    <li>Marketing Analyst</li>
    <li>Growth Hacker</li>
    <li>Designer</li>
    </ul>
    <h3>
		<p>Contact us at <a href="jobs@apptheta.com">jobs@apptheta.com</a></p>
		</h3>

	</div>
</div>

{% endblock %}