{% extends "new-base.html" %}

{% block title %} App Theta Login {% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="white-container shadow-z-1">
	    <!-- section id="react"></section -->

<h2>Login</h2>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" ng-submit='mixpanel.track("login")'>
{% csrf_token %}
<div>
    <div class="form-label">{{ form.username.label_tag }}&nbsp;</div>
    <div>{{ form.username }}</div>
</div>
<div style="margin-top:10px">
    <div class="form-label">{{ form.password.label_tag }}&nbsp;</div>
    <div>{{ form.password }}</div>
</div>
<input class="btn btn-primary" style="margin-top:15px" type="submit" value="Log in to App Theta" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<strong style="display:block; margin-top:10px"><a href="/password_reset/">Reset your password </a></strong>


<strong style="display:block; margin-top:10px">Not registered? <a href="javascript:void(0)" ng-click="openSignupPopover()">Create an Account</a></strong>

</div>
</div>

	<script src="/static/build/bundle.js"></script>	
	{% endblock %}

{% block body_js %}
  <script src="  {{ STATIC_URL }}js/GraphDataService.js"></script>
  <script src="  {{ STATIC_URL }}js/AppInfoService.js"></script>
{% endblock %}