<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logo-colored.png"/>
    <title>{% block title %}{% endblock %}</title>

    <!-- Webpack doesn't pack fonts, not ure if there was a better workaround  
         than hacking fonts out of material design
         https://gitter.im/webpack/webpack/archives/2014/12/20 --> 
    <link rel="stylesheet" href="/static/css/font-icons.css">

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//v2.zopim.com/?2ks9qPHJD8IyKRvxUvWpG8YhWoMuGMnB';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    
    <!--analytics-->
    {% include "partials/mixpanel-partial.html" %}
    {% include "partials/google-analytics.html" %}

    <!-- use a fixed scale on mobile --> 
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
  </head>

  <body id="base_body" ng-controller="SignupController">
    {% include "partials/navbar-partial.html" %}
    <div class="main-content">
      {% block content %} {% endblock %}
    </div>
    {% include "partials/footer-logged-out-partial.html" %}
  </body>

</html>
