{% extends "base.html" %}

{% block title %} App Theta - Pricing{% endblock %}

{% block content %}

<div class="container-fluid">

	<div class="row">
		<div class="col-sm-6 pricing-column">
			<div class="price-box shadow-z-1">
				<h1>App Metrics</h1>
				<h2>Free</h2>
			</div>
			<div class="info-box shadow-z-1">
			  <p>The best free, mobile-optimized sales dashboad for apps, with competitor predictions.
			  </p>
			</div>
			<div class="info-box shadow-z-1">
			  <ul class="product-list">
				    <li><div>Sales charts and trends.</div></li>
				    <li><div>Competitor sales and downloads.</div></li>				
				    <li><div>Realtime stats on iOS/Android.</div></li>
				    <li><div>Daily reports on sales and usage.</div></li>
				    <li><div>Limited email support.</div></li>
			  </ul>
			</div>
	  </div>


		<div class="col-sm-6 pricing-column">
			<div class="price-box shadow-z-1">
				<h1>Private Model</h1>
				<h2>Contact: <a href="mailto:sales@apptheta.com"> sales@apptheta.com</a> </h2>
			</div>
			<div class="info-box shadow-z-1">
			  <p>Private models and data science, and a dashboard customized for multichannel sales.
			  </p>
			</div>
			<div class="info-box shadow-z-1">
			  <ul class="product-list">
				    <li><div>Use App Theta with private data.</div></li>
				    <li><div>Access to data science team.</div></li>
				    <li><div>Custom dashboard integration.</div></li>
				    <li><div>Alerts and automations.</div></li>				
				    <li><div>10% discount for 1+ year contracts.</div></li>
			  </ul>
			</div>
	  </div>
              
		
	<div class="col-xs-12 col-sm-12">
		<div class="white-container shadow-z-1">
			<div class="view view-first"  style="text-align:center">
				<h2 style="padding-top:10px">
					 <a href="javascript:void(0)" class="btn btn-primary shadow-z-2" ng-click="openSignupPopover()" style="margin-left:20px">Try App Theta</a>
				</h2>
			</div>
		</div>
	</div>

</div>

{% endblock %}

{% block body_js %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pricing.css">

			<script src="  {{ STATIC_URL }}js/GraphDataService.js"></script>
      <script src="  {{ STATIC_URL }}js/AppInfoService.js"></script>
<script src="//checkout.stripe.com/v2/checkout.js"></script>
<script>
	$(function() {
		$('.stripeForm').submit(function(event) {
			event.preventDefault();
			var values = $(this).serialize();
			$.ajax({
				url: '/customers/subscribe_ajax/',
				type: "post",
				data: values,
				success: function(data){
						window.location = '/';
				},
				error:function(data){
					var str = JSON.parse(data.responseText);
					alert('Error: ' + str);
				}
			});
		});


		$('.subscribeBtn').click(function(){
			$activeButton = $(this);
			$stripeForm = $(this).prev('.stripeForm');
			var token = function(res){
				console.log("Submitting stripe form")
				$stripeForm.find("input[name=stripe_token]").val(res.id);
				$stripeForm.submit()
			};
			var amount = $stripeForm.find('input[name="price"]').val();
			var plan_name = $stripeForm.find('input[name="plan_name"]').val();
			var description = $stripeForm.find('input[name="description"]').val();
			StripeCheckout.open({
				key:         '{{ STRIPE_PUBLIC_KEY }}',
				address:     false,
				amount:      amount * 100,
				currency:    'usd',
				name:        plan_name,
				description: description,
				panelLabel:  'Sign Up',
				token:       token
			});
		  return false;
		});
	});
</script>
{% endblock %}



