{% extends "new-base.html" %}

{% block title %} Publisher Info {% endblock %}

{% block content %}
	<div class="container-fluid">
    <ul class="list-unstyled" ng-if="!graphData.didFetchProductInfo">
    {{artist.name}}
    {{artist.artist_id}}
    {% for app in publisher_apps %}
		  <li style="margin-top:10px">
		    <a href="/apps/{{app.platform}}/US/{{app.bundle_id}}/">
		      {{app.trackCensoredName}}
		    </a>
		      {{app.description}}
		  </li>
		{% endfor %}
		</ul>
		<div class="row">	  
	    <section id="react"></section>
	  </div>
	</div>

	<script src="/static/build/bundle.js"></script>	

	<script>
	  var intial_data = {{info | safe}};
	  // alert(intial_data.name);

	  // why don't the ripples work
	  // $.material.init()
	</script>


{% endblock %}