{% extends "base.html" %}

{% block title %} App Store Rankings{% endblock %}

{% block content %}

<div class="container-fluid"  ng-controller='RankGraphController'>

	<div class="row" resize>
    {% include 'partials/date-selector-competitors-partial.html' %}    
 {% verbatim %}	
		<a class="category-picker" ng-click="openCategoryPopover()">
			{{PlatformInfoService.selectedCategory.name}} - {{PlatformInfoService.selectedCategoryType.name}} - {{PlatformInfoService.selectedCategoryType.device_type}} - {{PlatformInfoService.selectedCountry.name}}
			&nbsp;<span class="caret"></span>
		</a>
  <div style="height:1px;width:100%;clear:both;margin-bottom:10px"></div>

  <div ng-if=!graphDataRanks.graphs.length>
        Rank data loading. 
        <div class="spinner spinner-small">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                </div>
  </div>


	<div ng-if="gridOptions" ui-grid-pagination class="grid" ui-grid="gridOptions" ></div>
  {% endverbatim %}

	</div>

</div>

{% endblock %}

{% block body_js %}
	  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css">
	  <style type="text/css">
      .main-content, body {
      	background-color:white !important;
      }
	  </style>
<script>
	  // these variables are set for drilldowns, but not the main dashboard
	  var main_dashboard = false;
	  var series_name = undefined;
	  var product_ids = null;
	  var developer_mode = "false";
	  var stripe_public_key = "";
	  django_user = "{{user.username}}";
	  var itunes_accounts = "";
	  var google_play_accounts = "";
	  var sdk_versions = "";
	  var hide_setup = "";
	</script>


			{% include "partials/rickshaw-includes.html" %}  
      {% include "partials/category-popover-partial.html" %}
      <script src="{{ STATIC_URL }}js/util.js"></script>
			<script src="  {{ STATIC_URL }}js/GraphDataService.js"></script>
      <script src="  {{ STATIC_URL }}js/AppInfoService.js"></script>
		  <script src="  {{ STATIC_URL }}js/angular-rickshaw.js"></script>
{% endblock %}



