{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="white-container shadow-z-1">
	  <h2>Reset your Password</h2>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% else %}
        <p>This reset link is no longer valid!</p>
    {% endif %}
    </div>
    </div>
{% endblock %}