{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="white-container shadow-z-1">
<h2>Reset Your Password</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
</div>
{% endblock %}