{% extends "base.html" %}

{% block title %} App Theta Data Science Team {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/hover-overlays.css">
<style>
	.view-first .mask {
		background-color: rgba(255,255,255,1);
	}
	view .mask{
		height:265px;
	}
	.mask_content{
		text-align: left;
		padding:20px;
	}
</style>

<div class="container-fluid" style="margin-top:15px">
	<h1 style="text-align:center">
		Your App Data Science Department<BR />
		<span>A Little Help Goes a Long Way</span>
	</h1>
</div>

<div class="container-fluid">

	<div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="view view-first">
				<div class="bio-container inline-headers">
					<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/dan_felix.jpg" />
					<h3>
						<span>Dan Felix</span><BR />Developer, Mathematician
						<BR />
					</h3>
				</div>
				<div class="mask">
					<div class="mask_content">
						<p>Dan is a math-loving programmer. Prior to founding App Theta, Dan worked on fraud detection algorithms at Google. </p><p>Dan has an M.A. in math from UCSD, and a BS in math from Rice. Dan is an expert chess payer, and he lives with his wife Susy and son in Berkeley.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="view view-first">
				<div class="bio-container inline-headers">
					<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/andrew_johnson.jpg" />
					<h3>
						<span>Andrew Johnson</span><BR />Developer, Analyst
						<BR />
					</h3>
				</div>
				<div class="mask">
					<div class="mask_content">
						<p>Before founding App Theta, Andrew founded the <a href="https://www.apple.com/your-verse/elevating-expedition/">hit hiking app</a> Gaia GPS. He was responsible for optimizing app engagement, website traffic, and SEO, and he helped code the app from scratch.</p><p>Andrew has a BS in Business from Carnegie Mellon. He is an avid outdoorsmen, gamer, and lives with his wife Anna and two kids in Berkeley. </p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="view view-first">
				<div class="bio-container inline-headers">
					<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/anna_johnson.jpg" />
					<h3>
						<span>Anna Hentzel Johnson</span><BR />Developer, Mathematician
						<BR />
					</h3>
				</div>
				<div class="mask">
					<div class="mask_content">
						<p>Anna is an ex-Googler and founder of Gaia GPS. She is excellent at identifying and implementing the right math for the job.</p> 
						<p>Anna earned degrees in computer engineering and mathematics at Iowa State University, and interned at Microsoft and IBM. Anna also holds a second degree black belt in Taekwondo.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="white-container shadow-z-1 bio-outer-container">
			<div class="view view-first">
				<div class="bio-container inline-headers">
					<img class="bio-image img-circle img-responsive" src="{{ STATIC_URL }}img/dan_silberman.jpg" />
					<h3>
						<span>Dan Silberman</span><BR />Developer, Analyst
						<BR />
					</h3>
				</div>
				<div class="mask">
					<div class="mask_content">
						<p>An alumni of Y-Combinator and 500 Startups, and founder of Gamador Games, Dan has made a habit of making products grow.</p> 
						<p>He's both a software developer and an analyst, and can be counted on to spot a theory of growth, and implement the bits and bytes to test it.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12">
		<div class="white-container shadow-z-1">
			<div class="view view-first"  style="text-align:center">
				<h2 style="padding-top:10px">
					<span class="gray">Get a free analysis and custom dashboard. <a href="javascript:void(0)" class="btn btn-primary shadow-z-2" ng-click="openSignupPopover()" style="margin-left:20px">Request Analysis</a></span>
				</h2>
			</div>
		</div>
	</div>

</div>

<div style="clear:both;padding-bottom:30px"></div>	
{% endblock %}