{% extends "base.html" %}

{% block title %} App Theta Terms of Use {% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="white-container shadow-z-1">


<h2>App Theta Agreement and Terms of Use</h2>
<h3>Modified: May 1, 2015</h3>

<p>The following App Theta Terms of Use ("Terms of Use") govern use of the apptheta.com website, application program interface, mobile software developer kits, and other software and services provided by App Theta, together known as the App Theta Services (“App Theta Services”).</p>

<p>If you want to use the App Theta Services, you must first register with App Theta (the "Registration") by completing the information on the App Theta registration form available at http://apptheta.com/signup (the “App Theta Website”). By submitting your Registration to App Theta or using the App Theta Services, you agree to these Terms of Use. </p>

<p>You and App Theta agree as follows:</p>
<ol>
<li> License. The App Theta Services are owned by App Theta, and are licensed to you on a non-exclusive, non-sublicenseable basis on the terms and conditions herein. These terms define legal use of the App Theta Services , and all updates or revisions.

<li> You may use the App Theta Services to develop other software, and and connect software applications with the App Theta Library.

<li> You may not do any of the following:
 <ol> 
 <li>a) Attempt to reverse-engineer, decompile, or modify the App Theta Services in any way;

 <li>b) Use the App Theta Library in any manner or for any purpose that violates any law or regulation, any right of any person, including but not limited to rights of privacy.
 </ol> 
<li> You represent and warrant that you are authorized to agree to the terms and conditions of these Terms of Use.

<li> You acknowledge and agree that your use of the App Theta Services will be at your own risk. You agree, on demand, to indemnify, defend and hold App Theta, its affiliates and staff harmless from and against any and all liability and costs, including reasonable attorneys' fees incurred by such person, in connection with or arising out of your use of the App Theta Services.

<li> You acknowledge and agree that App Theta may make use of sales data you upload to the App Theta Service in perpetuity, as well as event data you upload via the App Theta Service in anonymized, aggregate form, in perpetutity.

<li> App Theta reserves the right to modify these Terms of Use at any time, on a general or individual basis, by publishing the revised Terms of Use on the App Theta Website or by otherwise notifying you of the revised Terms of Use. Your continued use of the App Theta Services shall constitute your acceptance to be bound by the terms and conditions of the revised Terms of Use.

<li> Term and Termination:

<ol><li>These Terms of Use will become effective upon an approved Registration and / or use of the App Theta Services and will remain effective until terminated by either App Theta or you as set out herein.

<li>Without limiting other remedies, App Theta may limit, suspend or terminate these Terms of Use (and any other additional terms) and your use of the App Theta Services at any time if we think that you are in breach of these Terms of Use or if we think that you have acted in a way which shows that you do not intend to comply with the Terms of Use. In addition, App Theta may terminate the Terms of Use with immediate effect at any time, for any reason.
</ol>
<li>Support. App Theta may elect to provide you with support or modifications for App Theta Services (collectively, "Support"), in its sole discretion, and may terminate such Support at any time without notice to you. App Theta may change, suspend, or discontinue any aspect of the App Theta Services, including the availability of the App Theta Services. App Theta may also impose limits on certain features and services or restrict your access to parts or all of the App Theta Services without notice or liability.

<li> Disclaimer of Warranties and Limitation of Liability:
<ol>
<li>No Warranties: THE APP THETA SERVICES ARE PROVIDED "AS IS" WITH NO WARRANTIES WHATSOEVER; APP THETA DOES NOT, EITHER EXPRESSED, IMPLIED OR STATUTORY, MAKE ANY WARRANTIES, CLAIMS OR REPRESENTATIONS WITH RESPECT TO THE APP THETA SERVICES, INCLUDING, WITHOUT LIMITATION, WARRANTIES OR CONDITIONS OF QUALITY, PERFORMANCE, NON-INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR USE FOR A PARTICULAR PURPOSE. APP THETA FURTHER DOES NOT REPRESENT OR WARRANT THAT THE APP THETA SERVICES WILL ALWAYS BE AVAILABLE, ACCESSIBLE, UNINTERRUPTED, TIMELY, SECURE, ACCURATE, COMPLETE AND ERROR-FREE OR WILL OPERATE WITHOUT DATA LOSS.

<li>No Liability: YOU ACKNOWLEDGE AND AGREE THAT APP THETA, ITS AFFILIATES, ITS LICENSORS AND THE APP THETA STAFF WILL HAVE NO LIABILITY IN CONNECTION WITH OR ARISING FROM YOUR USE OF THE APP THETA SERVICES, AS SET FORTH BELOW. YOUR ONLY RIGHT OR REMEDY WITH RESPECT TO ANY PROBLEMS OR DISSATISFACTION WITH THE APP THETA SERVICES IS TO IMMEDIATELY CEASE USE OF SUCH APP THETA SERVICES.

<li>Limitation of Liability: IN NO EVENT SHALL APP THETA, ITS AFFILIATES, ITS LICENSORS OR THE APP THETA STAFF BE LIABLE, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER FORM OF LIABILITY, FOR (A) ANY INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES (INCLUDING WITHOUT LIMITATION ANY LOSS OF OR CORRUPTION TO DATA, INTERRUPTION, COMPUTER FAILURE OR PECUNIARY LOSS) ARISING OUT OF THE USE OR INABILITY TO USE THE APP THETA SERVICES; (B) ANY LOSS OF INCOME, BUSINESS OR PROFITS (WHETHER DIRECT OR INDIRECT) ARISING OUT OF THE USE OR INABILITY TO USE THE APP THETA SERVICES; AND (C) ANY LOSS OR DAMAGE WHICH MAY BE INCURRED BY YOU AS A RESULT OF (I) ANY DISRUPTIONS OR DELAYS IN ANY COMMUNICATION WHEN USING THE APP THETA SERVICES, (II) THE SUSPENSION OR TERMINATION OF THIS AGREEMENT BY YOU OR BY APP THETA FOR ANY REASON, AND (III) THE RELEASE OR THE DECISION NOT TO RELEASE NEW VERSIONS OF THE APP THETA SERVICES TO YOU.

<li>THE LIMITATIONS ON APP THETA'S LIABILITY TO YOU IN PARAGRAPH 12(c) ABOVE SHALL APPLY WHETHER OR NOT APP THETA, ITS AFFILIATES OR THE APP THETA STAFF HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSSES OR DAMAGES ARISING.

<li>(e) NOTHING IN THIS AGREEMENT IS INTENDED TO EXCLUDE OR RESTRICT OR SHALL BE CONSTRUED AS EXCLUDING OR RESTRICTING THE LIABILITY OF APP THETA FOR (I) THE DEATH OR PERSONAL INJURY CAUSED BY THE NEGLIGENCE OF APP THETA, THE APP THETA STAFF OR ITS AGENTS, OR (II) ANY LIABILITY WHICH CANNOT BE LIMITED OR EXCLUDED BY LAW. As some jurisdictions do not allow some of the exclusions or limitations as set forth above, some of these exclusions or limitations may not apply to you. In such event the liability will be limited to the maximum extent possible within the applicable legislation.
</ol>

<li> Release and Waiver. To the maximum extent permitted by applicable law, you hereby release and waive all claims against App Theta, and its subsidiaries, affiliates, officers, agents, licensors, or other partners, and employees from any and all liability for claims, damages (actual and/or consequential), costs and expenses (including litigation costs and attorneys' fees) of every kind and nature, arising from or in any way related to your use of App Theta Services. 
16. General:
<ol>
<li>Terms of Use Revisions. These Terms of Use may only be revised in a writing signed by App Theta, or published by App Theta on the Sites.

<li>No Partnership. You agree that no joint venture, partnership, employment, or agency relationship exists between you and App Theta as a result of these Terms of Use.

<li>Assignment. App Theta may assign these Terms of Use, in whole or in part, to any person or entity at any time with or without your consent. You may not assign the Terms of Use without App Theta's prior written consent, and any unauthorized assignment by you shall be null and void.

<li>Severability. If any part of these Terms of Use is determined to be invalid or unenforceable, then that portion shall be severed, and the remainder of the Terms of Use shall be given full force and effect.

<li>Attorneys' Fees. In the event any litigation is brought by either party in connection with these Terms of Use, the prevailing party in such litigation shall be entitled to recover from the other party all the reasonable costs, attorneys' fees and other expenses incurred by such prevailing party in the litigation.

<li>No Waiver. Our failure to enforce any provision of these Terms of Use shall in no way be construed to be a present or future waiver of such provision, nor in any way affect the right of any party to enforce each and every such provision thereafter. The express waiver by us of any provision, condition or requirement of these Terms of Use shall not constitute a waiver of any future obligation to comply with such provision, condition or requirement.

<li>Notices. All notices given by you or required under these Terms of Use shall be in writing and addressed to: App Theta, Inc., 2913 Acton St. Berkeley, CA 94702, ATTN: CEO.

<li>(i) Equitable Remedies. You hereby agree that App Theta would be irreparably damaged if the terms of these Terms of Use were not specifically enforced, and therefore you agree that we shall be entitled, without bond, other security, or proof of damages, to appropriate equitable remedies with respect to breaches of these Terms of Use, in addition to such other remedies as we may otherwise have available to us under applicable laws.

<li>(j) Entire Agreement. These Terms of Use, including the documents expressly incorporated by reference, constitutes the entire agreement between you and us with respect to the Sites and/or Service and supersedes all prior or contemporaneous communications, whether electronic, oral or written, between you and us with respect to the Sites and/or Service.
</ol>
<p>
YOU EXPRESSLY ACKNOWLEDGE THAT YOU HAVE READ THE APP THETA TERMS OF USE AND UNDERSTAND AND ACCEPT THE RIGHTS, OBLIGATIONS, TERMS AND CONDITIONS SET FORTH HEREIN. BY SUBMITTING YOUR REGISTRATION, YOU EXPRESSLY CONSENT TO BE BOUND BY THESE TERMS AND CONDITIONS AND GRANT TO APP THETA THE RIGHTS SET FORTH HEREIN.
</p>

</div>
</div>

{% endblock %}