{% extends "base.html" %}
{% block title %}App Theta SECRET TEST PAGE{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="home-content" ng-controller='HomePageController'>
	<!-- top video header -->
				<!-- the bottom panel that shows App Theta users -->
				<div id="theta_users" class="infoBoxBackground">
					<div class="container-fluid innerDiv">
						<h1 class="home-title" style="margin-bottom:65px"> 
						  <div class="hidden-xs">
						    Grow with App Theta
						  </div>
						  <BR />
						  <span class="gray">
						    Join a quickly growing roster of great apps.
						  </span>
						</h1>
						{% verbatim %}
						<div ng-repeat="developer in theta_devs" class="col-sm-6" style="margin-bottom:20px;min-height:240px">
						<div class="info-box info-box-app" style="background-color:rgba(235,235,235,1)"> 
						  <a href="{{developer.url}}" style="text-decoration:none">
							  <div style="margin-top:0;margin-bottom:30px">
  							  <img ng-src="{{developer.headshot_url}}" style="width:128px;height:128px;float:left;margin-right:15px;border-radius:64px" />
	  							<div style="text-align:left;margin-top:0"> 
  	  						  <div class="h3" style="margin-top:0">{{developer.name}}<BR /><span>{{developer.title}}</span></div>
	  	  						<p class="devloper-quote h4">"{{developer.quote}}"</p>
	  	  				  </div>
		  				  </div>
		  				  <div style="clear:both;text-align:left">
			  					  <table><tbody>
			  					  <tr>
			  					  <td style="padding-right:15px">
			  					  <img ng-src="{{iconForApp(developer.main_app.id)}}" style="width:72px;height:72px;border-radius:12px" />
			  					  </td>
			  					  <td>
  		    					  <p class="h4" style="display:inline">{{developer.main_app.title}}
		    					    <BR/>{{developer.main_app.description}}</p>
		    					  </td>
		    					  </tr>
		    					  </tbody></table>
		  						<ul style="float:left" ng-if="developer.other_apps.length" class="list-inline list-unstyled">
								    <li ng-repeat="app in developer.other_apps"> 
								      <img ng-src="{{app.icon_url}}" style="width:57px"/>
								    </li>
								  </ul>
								</div>
						</a>
				</div>
				</div>
					</div>
				</div>
			</div>
						{% endverbatim %}
			{% endblock %}


			{% block body_js %}
			<script>
			test_homepage = true;
    series_name = undefined; // the homepage only shows a dummy graph
    theta_devs = {{theta_devs | safe}};  // apps to list who use theta in bottom panel
  </script>

  <!-- rickshaw to render the graph-->
  {% include "partials/rickshaw-includes.html" %}  
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pricing.css">
  <script src="{{ STATIC_URL }}js/angular-rickshaw.js"></script>
  <!-- fetch app icons -->
  <script src="{{ STATIC_URL }}js/GraphDataService.js"></script>
  <script src="{{ STATIC_URL }}js/AppInfoService.js"></script>
  <!-- render the dummy graphs -->
  <script src="{{ STATIC_URL }}js/homepage.js?"></script>
  {% endblock %}
