@import "homepage.scss";
@import "_material-override.scss";

.navbar {
  background-color: rgba(255,255,255,1) !important;
}


body, div, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color:#444951; 
}

body {
  font-size:16px;
  background-color:#FFF;
}


/* Sticky footer styles */
body {
  margin-bottom: 100px;
}


html {
  position: relative;
  min-height: 100%;
}

h1 {
  font-size:36px;
  font-weight:400;
  letter-spacing:1px;
}

h2 {
  margin-top:0;
  font-size:1.4em;
}

h3 {
  font-size:1.3em;
}


code {
  background-color: #eee;
  color:$primary;
}

h1 span, h2 span, h3 span {
  color:#767e8a; 
  line-height:2em;
}

/* Navbar style */

.navbar-default {
  margin-bottom:0 !important;
  padding:20px;
}


@media screen and (max-width : 650px) {
  .navbar-default {
    padding:0;
    padding-right:5px;
  }
}

.main-content {
  margin-left:25px;
  margin-right:25px;
}


@media screen and (max-width : 650px) {
.main-content {
  margin-left:0;
  margin-right:0;
}
}


.navbar-brand {
  z-index:1002 !important;
  height:40px !important;
  padding:0 !important;
  padding-left:5px !important;
  padding-top:3px !important;
}


.navbar-header {
  height:40px !important;
}


.navbar, .navbar-header {
  min-height:40px !important;
}



.navbar-nav > li > a {
  padding-top:9px !important; 
  padding-bottom:5px !important;
}


.navbar-toggle {
   z-index:1003 !important;
   margin:0 !important;
   margin-top:8px !important;
   color:$primary;
}


/* footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: rgba(0,0,0,.7);
  text-align:center;
  font-size:1.2em;
}


.footer ul {
  height:25px;
  padding-top:30px;
}


.footer a {
  color:white;
  padding:20px;
}

@media screen and (max-width : 600px) {


.footer ul {
  height:50px;
  padding-top:10px;
}

}




/* graph overlay code */

.graph-container {
  /*.shadow-z-1;
  transition-duration: .4s;
    &:hover {
      .shadow-z-2-hover();
      transition-duration: .4s;
      animation-direction: alternate;
    }
*/
}


.big-graph {
  padding:25px;
}


.realtime-graph {
  margin-top:12px !important;
}

.shadow-z-2-hover {
  
}

.products_button_group {
  /*&:hover {
    .shadow-z-2-hover();
  }*/
}


.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #FFF !important;
}

.table-striped > tbody > tr:nth-child(even) > td {
    background-color: rgba(11,88,156,.1);
}

.table-striped span {
  color:gray;
}


/* signup popover */

.blackout {
  background-color:rgba(0,0,0,1) !important;
  width:100%;
  height:100%;
  opacity:.6 !important;
}

.signup-modal-window .modal-dialog {
  width: 600px;
}


@media screen and (max-width : 600px) {
  .signup-modal-window .modal-dialog {
    width: 94%;
  }
}

.white-container {
  padding:10px;
  margin-top:$padding-md;
  background-color:white;
}


.form-label label {
  color:gray;
  font-weight:normal !important;
}


.navbar-right{
  height:100%;
  padding-top:0 !important;
}


.navbar .navbar-nav li a {
    font-family: "Source Sans Pro Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:22px;
}

.navbar .navbar-nav li a.menu-link:hover {
  color:$primary !important;
}

.navbar .navbar-nav li a.signup-link {
 color:$primary !important;
 opacity:.9;
}

.navbar .navbar-nav li a.menu-link {
  font-size:18px;
  padding-right:30px;
  color:#767e8a !important;
}

.navbar .navbar-nav li a.menu-link, 
.navbar .navbar-nav li {
  height:55px;
}


.navbar .navbar-nav li a.menu-link i {
  font-size:1.7em;
  position:relative;
  top:7px
}

.scriber-logo {
  margin-top:10px;
  height:70%;
  width:210px;
}


.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shorter-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:150px;
}


ul.nav-pillsgray > li.active > a { 
  background-color: rgba(154,160,172, 1) !important; 
  color:white !important;
  padding-top:7px;
  padding-bottom:7px;
  margin-top:15px;
}

ul.nav-pillsgray > li > a { 
  padding-top:6px;
  color:white !important;
}


ul.nav-pillsgray { 
  margin-top:3px;
}



.navbar {
  margin-bottom:0 !important;
}


/*.active-graph {
  .shadow-z-2 !important;
}


.active-graph svg {
  stroke-width:3px !important;
}*/


.code-table td {
  padding-right:5px;
}


.table-striped code {
  background-color: rgba(0,0,0,0);
}


.inline-headers h3 {
  float:left;
  vertical-align: baseline;
}


.bio-outer-container {
  height:265px;
  text-align:center;
  padding-top:30px;
}

.bio-container {
  width:100%;
  height:200px;
  margin:0 auto;
}


.bio-container .bio-image {
  margin-right:30px;
  max-width:122px;
  margin:0 auto;
}


.bio-container h3 {
  width:100%;
  text-align: center;
}

.table-sync td {
  text-align:center;
}

/* loading spinner */
.spinner {
  margin: 100px auto;
  width: 220px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner-small {
  margin: 0 5px;
  width: 30px;
  height: 10px;
  text-align: left;
  font-size: 10px;
  display:inline-block;
}


.spinner h2{
  font-size: 18px;
}

.spinner > div {
  background-color: $primary;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.nav-pillsgray > li > a:hover {
  color:$primary !important;
  padding-top:7px;
  padding-bottom:7px;
}


.help_link {
  float:left;
  display:inline-block;
  background-color:white;
  border-radius:16px;
  margin-left:10px;
  margin-top:-5px;
}

.help_link[data-title]:hover:after {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-transform:none;
  text-align:left;
  font-size:18px;
  content: attr(data-title);
  padding: 4px 8px;
  color: #444951;
  position: absolute;
  left: 20px;
  background-color: white;
  opacity:1;
  z-index: 1200;
  border-radius: 5px;
  //.shadow-z-2;
}



.grid {
    width:95%;
    height: 910px;
    margin-top:10px;
    display: table; 
}


@media screen and (max-width : 650px) {
  .grid {
    width:100%;
  }
}



.ngCellText {
  height: 80px;
  line-height: 80px; /* <-- this is what you must define */
  vertical-align: middle;
}

.daterangepicker {
  background: #fff;
  padding: 4px;
}

.navbar a.company-name {
  color:white !important;
  font-size:14px !important;
  height:57px;
  padding-left:25px !important;
  padding-right:25px !important;
}

.talking-points .active-step {
  color:white;
  background-color:$primary;
}


.signup-header a i {
  color: $primary;
}


i {
  color: $primary;
}

.category-picker {
  display:inline-block;
  padding-top:10px;
  text-align:center;
  margin-right:20px;
}


.navbar-collapse {
  width:100%;
  padding-left:20px;
}

#logo-div {
 margin-top:10px;
 margin-left:20px;
}


.searchBackground {
  width:200px;
  margin-top:20px;
  margin-left:22px !important;
}

@media screen and (max-width : 768px) {
.searchBackground {
  margin-top:35px;
}
}


@media screen and (max-width : 650px) {
  .navbar-right {
  padding-top:0 !important;
}
}


.single-white-column {

}


.category-button {
  width:25%;
}

.category-button {
  width:25%;
}


.margin-on-desktop {
  margin-left:15px;
}

@media screen and (max-width : 650px) {
.margin-on-desktop {
  margin-left:0px;
}

  .category-button {
    width:50%;
     white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

  .devicetype-button {
    width:100%;
  }
}
.dashboard-alert {
  background-color:$primary;
}

.little-graph-time-label {
  color:$primary;
}

.big-graph-label {
  color:$primary !important;
}

.graph-positive {
  color:$primary !important;
}


.navbar-right li.dropdown {
  padding-top:12px;
}


.follow-table {
  width:100%;
  table-layout:fixed;
}


.follow-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.follow-title {
  padding-top:10px;
  font-size:1.1em;
}


