/* Override material design template */
@import "../bower_components/bootstrap-material-design/sass/material.scss";
/*@import "animate.less";*/

$padding-sm: 5px;
$padding-md: 20px;
$padding-lg: 40px;
$primary: #340B59;


