/* main dashboard styles */

@mixin keyframes($name) {
  @-webkit-keyframes $name { @content; }
  @-moz-keyframes $name { @content; }
  @-ms-keyframes $name { @content; }
  @keyframes $name { @content; }
}


.navbar-dashboard {
  background-color: #444951 !important;
  letter-spacing: 1px;
}


.navbar-header {
  height:57px !important;
}


.navbar, .navbar-header {
  min-height:57px !important;
}


.navbar-dashboard > a {
  color:#444951 !important;
  font-size:42px !important;
  margin-top:10px !important;
}


.navbar-dashboard a:hover {
  color:white !important;
}


.dropdown-menu > li > a, li.dropdown > a  {
  color:#444951 !important;
}


.dropdown-menu a:hover {
  color:rgba(94, 160, 183, 1) !important;
}


.navbar-dashboard a.company-name {
  color:white !important;
  font-size:14px !important;
  height:57px;
  padding-left:25px !important;
  padding-right:25px !important;
}


.navbar-dashboard a {
  color:rgba(178,179,182,1) !important;
  font-size:.8em !important;
  margin-top:10px !important;
}


.navbar-dashboard a.search-button {
  border-left:1px solid rgba(178,179,182,.5);
  font-size:1.5em !important;
  height:57px;
  padding-left:20px !important;
  padding-right:20px !important;
  margin-top:0 !important;
  padding-top:15px !important;
  margin-left:15px;
}


.navbar-dashboard > .navbar-right > a.search-button {
  padding:0 !important;
}


div.dashboardContainer {
}

div#dashboard_header .company_icon {
  padding-right:10px;
  float:left;
  width:100px;
  margin-top:5px;
}


div#dashboard_header .graph_buttons_container {
  width:200px;
  margin-top:-10px;
  display:inline-block;
  margin-left:15px;
}


.range_dropdown {
}


div#dashboard_header .range_button {
    padding-left:8px !important;
    padding-right:8px !important;
}



div#dashboard_header .products_button {
    padding-left:8px !important;
    padding-right:8px !important;
}



div#dashboard_header .company_products {
  float:left;
}


div#dashboard_header .company_name {
  margin-top:0;
  padding-top:0;
  padding-bottom:0;
  margin-bottom:5px;
  float:left;
}


#compare_div {
  float:left;
  margin-left:10px;
  margin-top:-10px;
  margin-bottom:10px;
  text-align:right;
}

#left_column {
  padding-right:0;
  padding-top:10px;
}

#right_column {
  padding-left:5px;
}

#compare_div .btn-group {
  margin-top:10px;
}

#compare_div .btn-default {
  padding-left:5px;
  padding-right:5px;
}

.range-selector {
  width:90px;
}


.padding-container {
  width:100%;
  margin-bottom:10px;
  float:left;
}


.product-container {
  width:100%;
  padding:5px;
  height:100%;
  background-color: white;
  float:left;
  margin-bottom:15px;
}


@media screen and (max-width : 500px) { 
  .product-container {
    margin-bottom:20px;
  }
}


@media screen and (min-width : 768px) { 
  .outer-graph-container {
    padding-right:16px;
  }
}


td span.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.navbar-collapse, .navbar-collapse ul {
  z-index:1003 !important;
}

.product-container img {
  float:left;
  margin-right:0;
  height:24px; 
  width:24px; 
  margin-bottom:5px;
}


.product-container div {
  float:left;
  margin-left:3px;
}


.product-container .sales-value {
  text-align:right !important;
}

.product-name {
  display:inline-block;
  font-size:.9em;
  font-weight:600;
}


.check-div {
  float:right !important;
  text-align:right;
}


.subproduct-div {
  width:100%;
}

.subproduct-div .check-div {
  margin-right:3px;
}

.modal-header-product {
  background-color: #EEE;
}


.modal-body-product {
  background-color: #EEE;
  padding:10px !important;
}


.modal-little-graph-labeler-product {
  background-color: #EEE;
}


#graph_slider {
  display:none;
  margin-bottom:5px;
  margin-left:10px;
  margin-top:20px;
  width:38%;
}

@media screen and (min-width : 500px) {
  #graph_slider {
    display:inline-block;
  }
  #legend {
    display:inline-block !important;
  }
}


.frame {  
    position: relative;
    vertical-align:middle;
    width:100% !important;
}


.todo-message {
  text-align:left !important;
}


.frame div {  
  display:inline-block;
}

.frame img {  
    max-height: 24px;  
    max-width: 24px; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 5px;  
    margin: auto;
}


.frame i {  
    max-height: 12px;  
    max-width: 12px; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    right: 5px;  
    margin: auto;
}


/* little graphs */

.big-graph-num {
  font-size:1.3em;
  font-weight:600;
}


.percent-label {
  font-size:1.3em;
  color:rgba(210,99,72,1);  
  font-style: italic;
  font-weight:300;
}

.graph-invisible {
  opacity:0;
}


.paddingContainer {
  padding:5px;
}

.little-graph-time-label {
  text-align:center;
  font-size:.8em;
  font-weight:600; 
}

.little-graph-label {
  text-align:center;
  background-color:rgba(152,156,169,1);
  text-transform:uppercase;
  font-size:.7em;
  font-weight:600;
  color:white;
  padding-top:15px;
  padding-bottom:15px;
  letter-spacing: 1px;
  border-radius: 5px 5px 0px 0px; 
}



@media screen and (max-width: 767px) {
  .graph-container {
    width:100%;
  }
}


.graph-column {
  background-color: white;
  margin-left:0;
  padding-left:0 !important;
  padding-right:0 !important;
  margin-bottom:0 !important;
}


.graph-container {
  margin-bottom:15px;
  cursor:pointer;
  background-color: white;
  border-radius:5px;
}


.graph-right .odd-right-padder {
  padding-left:15px !important;
}


@media screen and (max-width: 767px) {
  .graph-right {
    width:100%;
  }
  .graph-right .odd-right-padder {
    padding-left:0px !important;
  }
}


#left_column .container-fluid {
    padding: 0;
    margin: 0;
}


.row {
  margin-left: 0px;
  margin-right: 0px;
}


.app-modal-window .modal-dialog {
  width: 768px !important;
}


@media screen and (max-width : 500px) {
  .app-modal-window .modal-dialog {
    width: 94% !important;
  }

  #right_column {
    display:none;
  }
}


.right_column .container-fluid {
  background-color:white;
  padding:10px;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:15px;
}


.historical-increases {
  text-align:center;
  margin-bottom:15px;
  margin-top:10px;
  height:105px;
}

.historical-increases h3 {
  padding-top:10px;
}


.historical-increases .percent-label {
  text-align:center;
  float:none;
}

.pad-when-big {
  height:100%;
}


@media screen and (min-width : 768px) {
  .pad-when-big {
    padding-right:15px;
  }
}


div#dashboard_header {
  float:left;
  width:100%;
  padding:10px;
  padding-top:0;
  padding-bottom:0;
}


div#headerBackground {
  padding-top:10px;
  width:100%;
  float:left;
}


.realtime-graph {
  margin-bottom:20px;
}

.searchBackground {
  width:175px;
  margin-top:13px;
  margin-right:15px;
  background-color:rgba(0,0,0,0);
}


.search-display {
  display:block !important;
  animation: slide 1s ease;
}


.search-hide {
  width:0;
-moz-animation: slideOut 1s ease;
   -webkit-animation: slideOut 1s ease;
   -o-animation: slideOut 1s ease;
   -ms-animation: slideOut 1s ease;
    animation: slideOut 1s ease;
}


@include keyframes( slideOut )
{
    0% {
        width: 190px;
    }

    100% {
        width: 0;
    }
}


@include keyframes( slide )
{
    0% {
        width: 0;
    }

    100% {
        width: 175px;
    }
}

.zero-width {
  width:0;
}

.searchBackground form-control {
  background-color:rgba(0,0,0,0);
}


@media screen and (max-width: 768px) { 
  .products-button-div {
    float:left;
  }
}


.todosBackground {
  background-color:white;
  padding:10px;
  margin-right:10px;
  margin-top:10px;
}


.drilldown-container {
  margin-top:5px;
}


/* range slider */

.date-picker {
  padding-top:5px;
  text-align:center;
  width:175px;
  margin-top:5px;
  float:left;
  margin-left:10px;
  margin-right:20px;
}


.btn-group-date {
  float:left;
}

.main-graphs-title {
  padding-left:10px;
  float:left;
  padding-top:15px;
  font-weight:600;
  font-size:.8em;
  text-transform:uppercase;
}

.slider-date {
  width:200px;
  font-size:.7em;
  margin-top:-20px;
  margin-left:-20px;
}


.ui-slider-handle:focus { outline: 0; }

.ui-slider-handle:hover {
  text-decoration:none;
}


img.platform-icon {
  width:24px; 
  left:14px;
  top:44px;
  position:absolute;
}


div.platform-icon {
  width:24px; 
  height:24px; 
  left:12px;
  top:47px;
  position:absolute;
  background-color: rgba(255,255,255,.7);
  -webkit-filter: blur(4px);
  filter: blur(4px);
  border-radius:8px;
}


.app-icon {
  width:57px !important; 
  height:57px !important;
  border-radius:8px;
}


.growth-expansion {
  margin-top:10px;
  height:110px;
  background-color: white;
}


.dashboard-tabs {
  z-index:1003;
}


/* breaks angular
.dashboard-tabs .graphs-container {
  margin-top:5px;
}*/

.custom-graphs {
  margin-top:15px;
}


.slider-container {
  text-align:center;
  width:100%;
  margin-top:5px;
}


.title {
  color:black !important;
}


.rickshaw_graph .detail .x_label { display: none }


.detail_swatch { display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }


.rickshaw_graph .detail .date { color: #a0a0a0;}


.navbar-nav > li > a.products-button-header {
  float:left;
  margin-top:0 !important;
  margin-right:10px;
  border-left:1px solid rgba(178,179,182,.5);
  height:60px !important;
  padding-top:18px !important;
  padding-left:25px;
  color: rgba(178,179,182,1) !important;
}




@media screen and (max-width : 500px) { 
 .company-name {
    font-size:1.4em;
  }
 }

@media screen and (min-width : 501px) { 
 .company-name {
    font-size:1.4em;
  }
 }


@media screen and (max-width : 767px) { 
  .company-name {
    margin-left:10px;
    padding-bottom:0;
  }
  .navbar-left {
    height:100%;
    margin-bottom:0;
  }
  .zopim {
    display:none;
  }
}


.navbar-header i {
  height:60px;
}

.navbar-toggle {
  margin-bottom:0;
}

.navbar-left {
  margin-top:2px;
}


.navbar-left, .navbar-right,
.navbar-left li, .navbar-right li, ,.navbar-header i  {
  z-index:1003;
}


.navbar-left input {
  margin-top:5px;
}

.dashboard-header {
  width:200px;
  float:right;
  padding-bottom:10px;
  padding-right:10px;
}

.drilldown-title {
  font-size:1.3em;
}

.search-icon {
  float:right;
  padding:10px;
  padding-top:7px;
  font-size:1.6em;
  z-index:1003;
}

.navbar-dashboard {
  position:relative;
  z-index:1003;
}


.alert-badge {
  background-color:red;
  font-size:1em;
  padding-left:7px;
  padding-right:7px;
  margin-top:10px;
  float:right;

}

.big-graph path, .active-graph path  {
  /*fill: none;
  stroke: url(#temperature-gradient);*/
  stroke-width: 1.5px;
}


.table-nowrap {
  table-layout:fixed;
}

.table-nowrap td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


/* for account sync view on Getting Started tab */
.no-left-pad {
  padding-left:0;
}


.nav-tabs i {
  position:relative;
  top:2px;
  left:-5px;
}

a.btn img {
  height:22px;
  margin-right:20px;
  position:relative;
  top:-2px;
}

.margin-bottom {
  margin-bottom:15px;
}

ul.gray {
  background-color:#fff !important;  
}


.gray>li>a.gray, 
.gray>li>a:hover
 {
  color:#340B59 !important; 
  background-color:#fff !important;
}


.gray>li.active>a.gray, 
.gray>li.active>a:hover
 {
  background-color:#eee !important; 
  color:#444951 !important;
}


.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}



.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}


.dashboard-alert {
  height:38px;
  color:white;
  text-align:center;
  padding-top:10px;
  color:rgba(255, 255, 255, .8);
  font-size:14px;
}

@media screen and (max-width : 527px) { 
  .dashboard-alert {
    height:58px;
  }
}


.dashboard-alert a {
  color:white;
  font-weight:bold;
  text-decoration: none;
}



body, .graphs-container {
  background-color:rgba(242,242,243,1) !important;
}

body {
  overflow-x:hidden;
  width:100%;
}


.graphs-container {
  height:100%;
  margin:20px !important;
}

@media screen and (max-width : 650px) { 
  .graphs-container {
  margin:5px !important;
  }
}



.big-graph-title {
  text-transform:uppercase;
  font-size:.8em;
  font-weight:700;
  letter-spacing:1px;
}

.big-graph-label {
  font-size:2em;
  float:right;
  margin-right:5px;
  margin-top:-15px;
  margin-bottom:0;
  text-align:center;
  font-weight:600;
}

.big-graph-label span {
  font-size:.4em;
  text-transform:uppercase;
  display:block;
  line-height:0;
  margin-top:5px;
}

 .nav .open>a.login-link:focus {
  background-color: rgba(0,0,0,0) !important;
}

.left-separator {
  height:54px;
  color:white; 
  float:right; 
  padding-top:12px;
  padding-left:10px;
  margin-left:10px;
  z-index:1003;
    border-left:1px solid rgba(178,179,182,.5);
}


.navbar-toggle {
  margin-top:12px !important;
   color:white;
}
