/* video overlay styles */

.videoBackground {
  background-color: #FFF;
  margin-top:70px;
}


.covervid-wrapper {
  background-attachment:fixed;
  // background:transparent url('../images/video-fallback.png') no-repeat 0 0; 
  background-size:cover; 
  top: 0;
  overflow: hidden;
}


.covervid-video{
  opacity:0;
  width: 100%;
}


.overlay-box {
  padding:20px;
  padding-top:0px;
  border-radius:6px;
  text-align:center;
  width:620px;
  height:125px;
  position:absolute;
  top:340px;
  left:50%;
  margin-top:-105px; /* negative half the size of height */
  margin-left:-310px; /* negative half the size of width */
  z-index:1000 !important;
}


.overlay-box a:hover{
    text-decoration: none;
}


/* sections below video */

.infoBoxBackground {
  padding: $padding-lg;
  padding-bottom:0;
  padding-top:80px;
}

.infoBoxBackground .innerDiv {
  width:100%;
  height:600px;
}


.infoBoxBackground .innerDiv {
	text-align:center;
	background-color:white;
}


@media screen and (max-width : 650px) {
  .infoBoxBackground {
    padding:0;
    width:100%;
   }
  .infoBoxBackground .innerDiv {
    width:100%;
  }
  .infoBoxBackground ul {
    padding-left:0;
  }
}


.infoBoxBackground .h4 {
  font-weight:400;
}

/* bottom section about apps that use scriber */

.app-user {
  text-align:center;
	padding-bottom:100px;
}


.app-user img {
	border-radius:8px;
	margin-right:10px;
	display: inline-block;
}


.app-user h4 {
	display: inline-block;	
}


/* make images resize */

img.responsive {
	 width:100%;
}


.home-content {
	padding-bottom:20px;
  margin-top:-50px;
}


/* from http://ianlunn.github.io/Hover/ */
/* Ian Lunn is a Freelance Front-end Developer and author of CSS3 Foundations. */
/* ianlunn.co.uk */
@-webkit-keyframes hvr-push {
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}


.hvr-push {
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

li.hvr-push {margin-bottom:50px}

.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  animation-name: hvr-push;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}


.hvr-push img {
	height:70px;
}


h1.home-title  {
  line-height:.8em;
  color:#444951; 
  margin-top:15px;
  margin-bottom:0;
  font-weight:300;
  font-size:32px
}

h1.top-title  {
  line-height:1em;
  margin-bottom:30px;
  margin-top:100px;
  color:#444951; 
}



h1.home-title span.gray {
  color:rgba(121,126,138,1); 
  font-weight:300;
  font-size:28px;
}


h1.top-title span {
  color:#444951; 
  line-height:2em;
  font-weight:300;
}


@media screen and (max-width : 650px) {
  .top-title {
    margin-top:150px !important;
  }

}



.home-play i {
  color:rgba(0,0,0,.7);
  font-size:4em;
}

.play-button-container {
  width:100%;
  text-align:center;
  margin-bottom:30px;
}

.signup-home-link {
  font-size:1.5em;
  border-radius:30px;
  border:solid;
  border-width:2px;
  border-color:$primary;
  width:65%;
  height:55px;
  margin: 0 auto;
  opacity:.8;
  padding-top:9px;
}

.signup-home-link:hover {
  opacity:1;
}


.overlay-box h1, .infoBoxBackground h1{
  margin-bottom:35px;
  font-size:2.2em;
}

.overlay-box h1 span, .infoBoxBackground h1 span {
  line-height:1.4em;
}


.infoBoxBackground i {
  font-size: 5em;
}


.circle-container {
  padding-top:20px;
  display: inline-block;
    height: 130px;
    width: 130px;
    line-height: 130px;

    border-radius: 50%; 
    border-style:solid;
    border-color: black;
    border-width: 2px;
}

.circle-container-wide {
  padding-top:0;
}


#scriber_users {
  margin-bottom:60px;
}


#chart {
  border:none !important;
}

hr {
  border-color: rgba(0,0,0,.2);
}

.home-clear-div {
  clear:both;
  margin-bottom:0;
}


@media screen and (max-width : 768px) {
 .overlay-box {
   padding-top:0px;
  }
}

#scriber_users {
  padding-bottom:370px;
}

@media screen and (max-width : 650px) {

  #scriber_users {
    padding-bottom:0;
  }

 .overlay-box {
   width:100%;
   margin-left:-160px; 
   background-color:rgba(0,0,0,0); 
   top:220px;
   height:400px !important;
   width:320px;
  }

  .videoBackground {
    height:340px !important;
  }

  .infoBoxBackground .innerDiv {
    height:auto !important;
  }  

  .signup-home-link {
    width:100%;
  }

  .home-title {
    font-size:1.5em !important;
  }

  .home-clear-div {
    padding-bottom:60px !important;
    clear:both;
  }

  .infoBoxBackground h1{
    margin-bottom:0;
  }

}


.app-list {
  margin-top:35px;
}

.app-list img {
  width:72px;
}


.dashboard-screenshot {
  width:100%;
  margin:0 auto;
  display:block;
  max-width:1100px;
  transition-duration: .4s;
    /*&:hover {
      .shadow-z-2;
      transition-duration: .4s;
      animation-direction: alternate;
    }*/
}


@media screen and (max-width : 650px) {
  .dashboard-screenshot {
    display:none;
  }

}

.info-box-app {
    /*  .shadow-z-1;
    &:hover {
      .shadow-z-2;
      transition-duration: .4s;
      animation-direction: alternate;
    }*/

}
