{% extends "dashboard/dashboard-base.html" %}

{% block title %} App Theta {% endblock %}

{% block content %}

<div ng-controller='MainGraphController'>
	
	<div ng-controller="SignupController"  class="dashboard-alert" ng-if="!user" type="primary">
	  Want to check out a dashboard that's customized for your apps?&nbsp;&nbsp;<a id="dashboard-signup-top" href="javascript:void(0)" ng-click="openSignupPopover()">Sign up now.</a> 
	</div>

	{% include "partials/dashboard-navbar-partial.html" %}
	
	<div class="graphs-container" resize ng-cloak>
		{% include 'partials/dashboard-tabs-content-partial.html' %}
		<!--ng-hide until the graph data is loaded, so there isn't funky loading  -->
		<div id="dashboard_main">
			<div ng-if="active.following">
				{% include 'partials/dashboard-competitors-partial.html' %}
			</div>

			<div ng-if="active.sales || active.usage">
      		{% include 'partials/main-dashboard-graphs-partial.html' %}
			</div>
		</div>
		<!-- prevent floating graphs overlapping the footer -->
		<div style="clear:both"></div>
	</div>
</div>

{% endblock %}

{% block js_content %}
{% include 'partials/add-account-popover-partial.html' %}
{% include 'partials/confirm-delete-account-popover-partial.html' %}
<script>
	  // these variables are set for drilldowns, but not the main dashboard
	  var main_dashboard = true;
	  var series_name = undefined;
	  var product_ids = null;
	  var developer_mode = "{{developer_mode}}";
	  var stripe_public_key = "{{STRIPE_PUBLIC_KEY}}";
	  django_user = "{{user.username}}";
	  var itunes_accounts = {{itunes_accounts_json|safe}};
	  var google_play_accounts = {{google_play_accounts_json|safe}};
	  var sdk_versions = {{sdk_versions_json|safe}};
	  var hide_setup = "{{hide_setup}}";
	</script>
	{% endblock %}
