{% extends "dashboard/dashboard-base.html" %}

{% block title %} App Theta - {{series_name}} {% endblock %}

{% block content %}
      <div ng-controller="SignupController"  class="dashboard-alert" ng-if="!user" type="primary">Want to check out a dashboard that's customized for your apps?&nbsp;&nbsp;<a href="javascript:void(0)" ng-click="openSignupPopover()">Sign up now.</a> 
    </div>
  {% include "partials/drilldown-navbar-partial.html" %}
	<div id="dashboard_main" ng-controller='DrilldownGraphController' ng-cloak resize>
  	{% include 'partials/drilldown-big-graph-partial.html' %}
	  <div class="dashboard-graphs-bg" style="padding:20px">
      {% include 'partials/date-selector-partial.html' %}    
	    {% include 'partials/drilldown-products-partial.html' %}
  	</div>
  </div>
<!-- prevent floating graphs overlapping the footer -->
<div style="clear:both"></div>
{% endblock %}

{% block js_content %}
	<script>
	  // these variables are set for drilldowns, but not the main dashboard
	var series_name = "{{series_name|safe}}";
	var product_ids = "{{product_ids|safe}}";
	var developer_mode = "{{developer_mode}}";
	</script>
{% endblock %}
