<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
    {% include "partials/main-header.html" %}
	  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/hover-overlays.css">
  </head>

  <body id="base_body" ng-app='theta'>
    {% block content %} {% endblock %}
    
  {% if user.is_authenticated %} 
    <footer class="footer">
      <div class="container-fluid">
        <ul class="list-inline list-unstyled footer-menu-container">
          <li><a class="loggedin-footer-link" href='/docs/'>Real-time SDKs</a></li>
          <li><a class="loggedin-footer-link" href="/support/">Support</a></li>
          <li><a class="loggedin-footer-link" href="http://news.apptheta.com/">News</a></li>
          <li><a class="loggedin-footer-link" href='/terms-of-use/'>Terms of Service</a></li>
         </ul>
        </div>
    </footer>
  {% else %}
    {% include "partials/footer-logged-out-partial.html" %}
  {% endif %}

	
  	{% block body_js %}
		  {% block js_content %} {% endblock %}  
		  {% include "partials/main-js-includes.html" %}
			{% include "partials/rickshaw-includes.html" %}  
      {% include "partials/product-popover-partial.html" %}
      {% include "partials/category-popover-partial.html" %}
      {% include "partials/customer-popover-partial.html" %}
      {% include "partials/country-popover-partial.html" %}
			<script src="  {{ STATIC_URL }}js/GraphDataService.js"></script>

      <script src="  {{ STATIC_URL }}js/AppInfoService.js"></script>
		  <script src="  {{ STATIC_URL }}js/angular-rickshaw.js"></script>
      <script src="/static/js/AccountController.js"></script>
		{% endblock %}
  </body>

</html>



