<!--customer popover--> 
<script type="text/ng-template" id="alerts_popover.html">
	<div class="modal-header">
		<h3 style="float:left" class="modal-title">App Theta Alerts</h3>
		<button style="float:right" class="btn btn-primary" ng-click="cancel()">Done</button>
		<div style="clear:both"></div>
	</div>

	<div class="modal-body top-customer-table">
		{% for dict in todos %}
		<div class="view view-first view-todo" >
			<div class="graph-container frame shadow-z-1" ng-click="viewDocs('{{ dict.title }}')">

				<div style="padding-top:10px !important;padding-bottom:10px !important;">
					<img class="addBounce" style="width:24px" src="{{ STATIC_URL }}{{ dict.icon }}"  />
					{% if dict.title == "Subscribe" %}
					<div class="todo-message" style="margin-left:34px;margin-right:20px">
						{{ dict.title }} when you start using the SDK in production.
					</div>
					{% else %}
					<div class="todo-message" style="margin-left:34px;margin-right:20px">
						Drop in the {{ dict.title }} SDK.
					</div>
					{% endif %}
					<i class="mdi-action-highlight-remove"  ng-click="$event.preventDefault();$event.stopPropagation();alert('Delete it!')"></i>
				</div>	

				<div class="mask">
					<h4 style="color:white;margin-top:13px">View the docs.</h4>
					<i style="color:white" class="mdi-action-highlight-remove"  ng-click="$event.preventDefault();$event.stopPropagation();alert('Delete it!')"></i>
				</div>
			</div>
		</div>
	<BR>
  {% endfor %}
	</div>

	<div class="modal-footer">
	</div>
</script>
