<div id="AndroidContent">
  <h3>Install</h3>

  <p>
    <ol>
      <li> <a href="http://apptheta.com/static/releases/android_sdk/scriber_1_0.aar">Download the .aar file</a>.
      <li> Add it to your project</li>
      <li> Add it to your dependencies</li>
    </ol>
  </p>

  <h3>Basic Usage</h3>
  <p>Add the Scriber import to MYApplication.java</p>

  <p><pre>import io.scriber.scriber.ScriberAPI;</pre></p>

  <p>Start Scriber by initializing an instance.</p>

  <p>After you insert this line, launch and background the app. You should immediately see a ping on your real-time graph, on apptheta.com/dashboard/</p>

  <p><pre>ScriberAPI.getInstance(this, {{api_key}}, GOOGLE_PLAY_LICENSE_KEY);</pre></p>

  <p>Record the user's email address in Scriber, if you want to be able to
contact them via email from Scriber's API/dashboard.</p>

  <p><pre>ScriberAPI.getInstance().setEmail("example@example.com");</pre></p>

  <p>You can also record usernames and IDs.</p>

  <p><pre>ScriberAPI.getInstance().setUsername("username");</pre></p>
  <p><pre>ScriberAPI.getInstance().setUserID("userId");</pre></p>

  <h3>Custom Events</h3>
  <p>You can record custom events with Scriber, for use on apptheta.com and via the API.</p>
  <p><pre>ScriberAPI.getInstance().recordEvent("my event label");</pre></p>


  <h3>Logout</h3>
  <p>Log out a user, when they log out of your system.</p>
  <p><pre>ScriberAPI.getInstance().logout()</pre></p>
  <BR><BR>
</div>