<div resize ng-if="!graphData.graphs.length && graphData.dataLoaded" style="margin-top:15px">
  <div class="application info-box shadow-z-1" style="padding:20px;background-color:white;">
    <h2 style="margin-top:0">No ranks for this country.</h2>
    <p>App Theta doesn't have any information for this app, for this country.</p> 
  </div>
</div>
{% verbatim %}	
  <div ng-if="!graphData.graphs.length" >
  <div class='application' >
    <h3 style="padding:0;margin:0">Revenue and ranks info loading. 
        <div class="spinner spinner-small">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                </div>
                </h3>
  </div>
</div>
<div resize style="margin-bottom:20px;;float:left;padding-bottom:0">
  <div class="col-xs-12 col-sm-6 graph-column"  ng-repeat="graph in activeGraphData.graphs" >
    <div class="outer-graph-container">
     <div class="little-graph-label">{{graph.name}}
     </div>
     <div class="graph-container shadow-z-1" ng-class="{ 'active-graph': graph.name == graphData.realtimeGraphType}">
      <div class="view view-first">
       <div class="paddingContainer">
        <div style="clear:both"></div>
        <div style="padding:10px">
         <rickshaw rickshaw-options="graph.options" rickshaw-features="graph.features" rickshaw-series="graph.series">
         </rickshaw>	
       </div>	
       <div style="text-align:center">
        <div style="display:inline-block">
         <div style="text-align:center">
          <a href='/dashboard/drilldown/{{graph.name}}/' class="big-graph-num">
           {{graphData.valueForGraph(graph)}}
         </a>
       </div>
       <div class="little-graph-time-label"> {{endDateString()}}</div>
     </div>

     <div ng-hide="activeGraphData.percentChangeForGraph(graph) == 0" style="text-align:center;display:inline-block">
      <span class="percent-label" ng-class="{ 'graph-positive': activeGraphData.percentChangeForGraph(graph) < 0, 'graph-positive': activeGraphData.percentChangeForGraph(graph) > 0}">
        (<span ng-if="activeGraphData.percentChangeForGraph(graph)>0">+</span>{{activeGraphData.percentChangeForGraph(graph) | percentage:1}})
      </span> 
      <div class="little-graph-time-label"> 
        {{graph.series[0].data.length}} Days
      </div>
    </div>
  </div>
</div>	
</div>
</div>
</div>
</div>
</div>
{% endverbatim %}
