<!-- main graph -->
<div class="col-sm-12 graph-column" ng-hide="sdkCount == 0 && user">
	<div class="big-graph realtime-graph">
		<div class="big-graph-title">
			{% verbatim %}{{realtime_graph.name}}{% endverbatim %}
		</div>
		<div class="big-graph-label">
			{% verbatim %}{{realtimeGraphData.valueForRealtimeGraph(realtimeGraphData.realtime_graph)}}<span>{{timeDescriptionForRealtimeGraph(realtimeGraphData.realtime_graph)}}</span>{% endverbatim %}
		</div>
		<div style="clear:both;margin-bottom:20px"></div>
		<rickshaw ng-if="realtime_graph.options" rickshaw-options="realtime_graph.options" rickshaw-features="realtime_graph.features" rickshaw-series="realtime_graph.series">
		</rickshaw>		
	</div>
</div>

