{% verbatim %}
<script type="text/ng-template" id="category_popover.html">
	<div class="modal-header modal-header-product">
		<h3 style="float:left" class="modal-title">Select Category</h3>
		<button style="float:right;margin-top:-5px" class="btn btn-primary" ng-click="cancel()">Done</button>
		<div style="clear:both"></div>
	</div>	

	<div class="modal-body modal-body-product">
	<div class="margin-on-desktop">
	
	  <div class="btn-group">
      <label ng-repeat="device in PlatformInfoService.selectedPlatformDevicesTypeList" class="btn btn-primary devicetype-button" ng-model="PlatformInfoService.selectedPlatformDevicesType" btn-radio="device" ng-change="updateCategoryTypeForDevice(device)">
        {{device}}
      </label>
    </div>
    <div class="btn-group">
      <label ng-repeat="rankingType in PlatformInfoService.selectedPlatformRankingTypeList" class="btn btn-primary devicetype-button" ng-model="PlatformInfoService.selectedPlatformRankingType" btn-radio="rankingType" ng-change="updateCategoryTypeForName(rankingType)">
        {{rankingType}}
      </label>
    </div>
    <div style="clear:both"></div>
    <div class="btn-group" >
      <label  ng-repeat="category in PlatformInfoService.selectedPlatform.categories" class="btn btn-primary category-button" ng-model="PlatformInfoService.selectedCategory" btn-radio="category" ng-change="fetchRanksForCategory(category)">
        {{category.name}}
      </label>
    </div>
    <div class="btn-group" ng-if="PlatformInfoService.selectedCategory.subcategories" >
      <label  ng-repeat="subcategory in PlatformInfoService.selectedCategory.subcategories" class="btn btn-primary category-button" ng-model="PlatformInfoService.selectedSubcategory" btn-radio="subcategory" ng-change="fetchRanksForSubcategory(subcategory)">
        {{subcategory.name}}
      </label>
    </div>
    <div style="clear:both"></div>
    <div class="btn-group">
      <label ng-repeat="country in PlatformInfoService.selectedPlatform.countries" class="btn btn-primary category-button" ng-model="PlatformInfoService.selectedCountry" btn-radio="country" ng-change="fetchRanksForCountry(country)">
        {{country.name}}
      </label>
    </div>
  </div>


	</div>

	<div class="modal-footer modal-footer-product">
	</div>

</script>
{% endverbatim %}