<script type="text/ng-template" id="confirm_delete_account_popover.html">
	<div class="signup-header">
    <h3 style="margin-top:13px">Confirm Disconnect</h3> 
    <a ng-click="cancel()" style="float:right" class="cancel-button">
      <i class="mdi-content-clear"></i>
    </a>
  </div>

  <div class="modal-body signup-form">
      <p>Are you sure you want to disconnect this account?</p>
      {% csrf_token %}
  </div>

  <div class="modal-footer">
    <form ng-submit='deleteAccount()'>
      <input class="btn btn-primary" style="width:100%" type="submit" value="Disconnect"  />
    </form>
  </div>
</script>
