{% verbatim %}
<script type="text/ng-template" id="country_popover.html">
	<div class="modal-header modal-header-product">
		<h3 style="float:left" class="modal-title">Select Country</h3>
		<button style="float:right;margin-top:-5px" class="btn btn-primary" ng-click="cancel()">Done</button>
		<div style="clear:both"></div>
	</div>	

	<div class="modal-body modal-body-product">
	<div style="margin-left:15px">
	  <div class="btn-group">
      <label ng-repeat="country in PlatformInfoService.selectedPlatform.countries" class="btn btn-primary col-xs-3" ng-model="PlatformInfoService.selectedCountry" btn-radio="country" ng-change="fetchDataForCountry(country)">
        {{country.name}}
      </label>
    </div>
  </div>


	</div>

	<div class="modal-footer modal-footer-product">
	</div>

</script>
{% endverbatim %}