<!--customer popover--> 
<script type="text/ng-template" id="customer_popover.html">
	 {% verbatim %}
	<div class="modal-header">
		<h3 style="float:left" class="modal-title">App Theta Profile: {{customer.username}}</h3>
		<button style="float:right" class="btn btn-primary" ng-click="cancel()">Done</button>
		<div style="clear:both"></div>
	</div>

	<div class="modal-body top-customer-table">
</style>
		<table class="table table-striped">
		  <tbody>
		    <tr>
	  	    <td><span>Last Active</span><BR> {{customer.last_active*1000| date:'medium'}}</td>
		      <td><span>Sessions Last Month</span><BR>{{customer.sessions_last_28_days}}</td>
		    </tr>
		    <tr>
	  	    <td><span>Lifetime Revenue</span><BR> {{customer.lifetime_revenue | currency}}</td>
		      <td><span>Lifetime Sessions</span><BR> {{customer.sessions}}</td>
		    </tr>
		    <tr>
		    </tr>
		  </tbody>
		</table>

		<h2>Installed Apps</h2>
		<div ng-repeat="(key, app) in customer.apps">

		  <img 
			ng-src="{{iconForApp(key)}}"
			 style="float:left"  \> 
		  <img 
			ng-src="{{iconForPlatform(app.platform)}}"
			 style="float:left;width:24px;margin-left:-28px;margin-top:25px" \>

		  <table class="table table-striped" style="width:35%;float:left;margin-left:10px; margin-right:10px">
			  <tbody>
			    <tr>
		  	    <td>{{nameForApp(key)| limitTo : 20}}</td>
			    </tr>
			    <tr>
		  	    <td><span>Version</span> <BR>{{app.version}}</td>
			    </tr>
			    <tr>
			      <td><span>Last Active</span> <BR>{{app.last_active*1000| date:'medium'}}</td>
			    </tr>
			    <tr>
			      <td><span>Devices</span> 
  			      <div ng-repeat="device in app.devices">
  			        {{device}}
  			      </div>
 			      </td>
			    </tr>
			    <tr ng-if>
			      <td>Purchases 
  			      <div ng-repeat="purchase in app.in_app_purchase_names">
  			        {{purchase}}
  			      </div>
 			      </td>
			    </tr>
			  </tbody>
			</table>
		 </div>
    <div style="clear:both"></div>
		<h2>Timeline</h2>
		<table class="table table-striped">
		  <tbody>
		    <tr ng-repeat="event in customer.events">
	  	    <td><img style="float:left;"
	  	             ng-src="{{iconForApp(event.event_app_id)}}" />
	  	        <img ng-src="{{iconForPlatform(customer.apps[event.event_app_id].platform)}}"
	  	             style="float:left;width:24px;margin-left:-28px;margin-top:25px" \>
	  	    </td>
		      <td>{{event.event_title}}</td>
		      <td>{{event.event_time | date: "medium"}}</td>
		    </tr>
		  </tbody>
		</table>
		{% endverbatim %}
	</div>

	<div class="modal-footer">
	</div>
</script>
