<div class="dashboard-tabs">
<ul class="nav nav-pills nav-pillsgray" style="float:left">
  <li ng-if="user && !hideSetup" ng-class="{'active':active.gettingStarted}"><a href="javascript:void(0)" ng-click="activateTab('gettingStarted')">Setup</a></li>
  <li ng-class="{'active':active.sales}"><a href="javascript:void(0)" ng-click="activateTab('sales')">Sales
  {% if itunes_accounts.0 or google_play_accounts.0 %}
    <div class="spinner spinner-small" ng-hide="!pollForUpdateGoing">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                </div>
          {% endif %}

       <i ng-if="accountJustSynced" class="mdi-action-done" style="color:green;float:right;margin-left:10px;margin-top:-5px"></i>
    </a></li>

  <li ng-class="{'active':active.following}"><a href="javascript:void(0)" ng-click="activateTab('following')">Following</a></li>
 {% if user.is_authenticated %}
 {% if user.id == 2 or user.id == 27 %}
 <li ng-class="{'active':active.usage}"><a href="javascript:void(0)" ng-click="activateTab('usage')">Usage</a></li>
</ul>
{% endif %}
{% endif %}
<div class="left-separator visible-sm visible-md visible-lg">
         {% if user.is_authenticated %}
              <a href="javascript:void(0)" class="login-link" data-toggle="dropdown">
              {{ user.username }} <b class="caret"></b>
          <ul class="dropdown-menu">
              <li><a href="/account/">Account</a></li>
              <li class="divider"></li>
              <li><a href="/accounts/logout/">Log Out</a></li>
            </ul></a>
          {% else %}
              <a href="javascript:void(0)" class="login-link">me@my_company.com</a>
          {% endif %}
</div>

	</div><!-- dashboard-tabs -->