	  <div id="tab_getting_start" ng-if="active.gettingStarted" >
	  	{% include 'partials/getting-started-tab-partial.html' %}
	  </div>

	  <div id="tab_main" ng-if="!graphData.graphs && active.sales" >
	  	<div ng-if="graphData.dataLoaded && !graphData.graphs" class="container-fluid" style="margin-top:15px">


	  		<div class="info-box shadow-z-1" style="padding:20px;background-color:white">
	  			{% if itunes_accounts.0 or google_play_accounts.0 %}
	  			<h2 style="margin-top:0">Sync in Progress</h2>
	  			<p>Your account is syncing, and will be done in a moment.</p> 
	  			<p>The graphs will automatically load when your data is synced.</p>
	  			<div class="spinner spinner-small" ng-hide="pollForUpdateGoing <= 0">
	  				<div class="rect1"></div>
	  				<div class="rect2"></div>
	  				<div class="rect3"></div>
	  			</div>
	  			{% else %}
	  			<h2 style="margin-top:0">Sync Sales Reports to See Metrics</h2>
	  			<p>You have not connected your iTunes/Android accounts or added the SDK.</p> 
	  			<p>Connect your apps to activate the dashboard.</p>
	  			{% endif %}
	  		</div>
	  	</div>
	  </div>


	  <div id="tab_competitors" ng-if="user && !graphDataRanks.graphs && active.following && graphDataRanks.dataLoaded" >
	  	<div ng-if="!graphData.graphs" class="container-fluid" style="margin-top:15px">
	  		<div class="info-box shadow-z-1" style="padding:20px;background-color:white">
	  			<h2 style="margin-top:0">Sync Sales Reports to View Competitor Sales</h2>
	  			<p>You have not connected your iTunes/Android accounts or added the SDK.</p> 
	  			<p>Connect your apps to activate the dashboard.</p>
	  		</div>
	  	</div>
	  </div>

	  <div id="tab_custom_events" ng-if="user && !graphDataCustomEvents.graphs.length && active.usage && graphDataCustomEvents.graphs.dataLoaded" >
	  	<div class="container-fluid" style="margin-top:15px">
	  		<div class="info-box shadow-z-1" style="padding:20px;background-color:white">
	  			<h2 style="margin-top:0">Add the SDKs to Track Usage</h2>
	  			<p>You have not added any custom metrics to graph.</p> 
	  			<p>Add some in your app to see real-time stats and trends.</p>
	  		</div>
	  	</div>
	  </div>

