    <div ng-if="active.ranks">
    {% include 'partials/date-selector-competitors-partial.html' %}    
  </div>
 {% verbatim %}	
		<a class="category-picker" ng-click="openCategoryPopover()">
			{{PlatformInfoService.selectedCategory.name}} - {{PlatformInfoService.selectedCategoryType.name}} - {{PlatformInfoService.selectedCategoryType.device_type}} - {{PlatformInfoService.selectedCountry.name}}
			&nbsp;<span class="caret"></span>
		</a>
  <div style="height:1px;width:100%;clear:both;margin-bottom:10px"></div>

  <div ng-if=!graphDataRanks.graphs.length>
        Rank data loading. 
        <div class="spinner spinner-small">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                </div>
  </div>


	<div ng-if="gridOptions" ui-grid-pagination class="grid" ui-grid="gridOptions" ></div>
{% endverbatim %}
