{% verbatim %}
<div ng-controller="FollowAppsGraphController">

<div  style="margin-top:30px" ng-if="followAppsGraphData.graphs">
              Showing Rankings in <a style="text-decoration:underline" ng-click="openCountryPopover()">{{PlatformInfoService.selectedCountry.name}}<span class="caret"></span>
    </a></div>
  <div style="height:1px;width:100%;clear:both;margin-bottom:20px"></div>


    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="(key, graph)  in followAppsGraphData.products" style="padding-left:0" >
     <div class="shadow-z-1" style="background-color:white;padding-left:10px;padding-right:10px;margin-bottom:20px;height:315px;">
        
     <table class="follow-table">
        <tbody>
          <tr>
            <td style="width:67px">
               <img class="app-icon" ng-src="{{graph.icon}}" style="margin-right:10px;" />
            </td>
            <td>
              <h2 class="follow-title">{{graph.name}}</h2>
              <a href="/apps/{{PlatformInfoService.selectedPlatform.id}}/{{PlatformInfoService.selectedCountry.id}}/{{graph.product_id}}" class="btn btn-primary btn-xs shadow-z-1" style="margin-top:0;border-radius:3px">Details</a>
              <a ng-if="graph.platform='1'" href="https://itunes.apple.com/us/app/id{{followAppsGraphData.ProductService.appInfo.fetchedInfo[graph.product_id].identifier}}" ><img src="/static/img/download-app-store.svg" / style="height:24px; position:relative;top:-5px"></a>
            </td>
            <td style="width:30px;vertical-align:top;padding-top:7px;text-align:right">
            <a ng-click="unfollow(graph)" style="">
        <i class="mdi-navigation-close"></i>
      </a>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div style="height:220px; overflow-y: auto;">
       <table width="100%" class="table table-striped" style="margin-bottom:0;">
        <tbody>
          <tr ng-if="graph.currentRevenueTotal">
            <td colspan=5>
              <h4 class="dataValue"><b>${{graph.currentRevenueTotal| number : 0}}</b> in the last {{competitorsDatePickerService.range.label}}</h4>
            </td>
          </tr>
          <tr ng-if="graph.currentDownloadsTotal">
            <td colspan=3>
              <h4 class="dataValue"><b>{{graph.currentDownloadsTotal| number : 0}} downloads</b></h4>
            </td>
            <td colspan=2>
            </td>
          </tr>        
        <tr ng-repeat="series in graph.series">
          {{series}}
            <td>
              {{series.rank | ordinal}}
            </td>
            <td>
              <i class="{{followAppsGraphData.iconClassForDeviceType(series.device_type)}}" title="{{series.device_type}}"> 
            </td>
            <td>
              <i class="{{followAppsGraphData.iconClassForRankingType(series.category_type)}}" title="{{series.category_type}}"> </i> <span style="font-size:.8em;color:#340B59;position:relative;top:-5px">
              {{followAppsGraphData.stringForRankingType(series.category_type)}}
            </span>   
            </td>

            <td style="color:#340B59">
              {{series.category}}
            </td>
            <td style="font-size:.8em;color:#767e8a">
              <i class="mdi-action-autorenew" title="Last Updated" style="color:#767e8a"> </i>
              <span style="position:relative;top:-6px">{{series.timeForLastRank | secondsToDateTime | date:'HH:mm:ss'}}</span>
            </td>
          </tr>        
        </tbody>
      </table>
    </div>
  </div>
</div>

  <!-- the search box -->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-controller="FollowAppSearchController" style="padding-left:0"  >
     <div class="shadow-z-1" style="background-color:white;text-align:center;padding-top:50px;padding-bottom:50px">


  <div ng-if="followAppsGraphData.searching">
    Loading app info. 
        <div class="spinner spinner-small">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                </div>
  </div>

  <div  ng-if="!followAppsGraphData.searching">
    <h2 ng-if="!followAppsGraphData.graphs">Search for an app to follow.</h2>
    <h2 ng-if="followAppsGraphData.graphs">Follow another app.</h2>

    <div class="homeSearch" style="width:300px;margin:0 auto;margin-top:30px">
     <input type="text" 
     class="form-control"
     ng-model="selectedApp.value" 
     typeahead="c as c.value for c in getApps($viewValue)" 
     typeahead-on-select="onSelect($item)" 
     placeholder="Search for Apps to Follow" 
     typeahead-min-length="2"
     typeahead-wait-ms="300" />
   </div>
  </div>
  </div>

</div>
</div>

<script type="text/ng-template" id="app_country_popover.html">
  <div class="modal-header modal-header-product">
    <h3 style="float:left" class="modal-title">Select Country</h3>
    <button style="float:right;margin-top:-5px" class="btn btn-primary" ng-click="cancel()">Done</button>
    <div style="clear:both"></div>
  </div>  

  <div class="modal-body modal-body-product">
  <div style="margin-left:15px">
    <div class="btn-group">
      <label ng-repeat="country in PlatformInfoService.selectedPlatform.countries" class="btn btn-primary col-xs-3" ng-model="PlatformInfoService.selectedCountry" btn-radio="country" ng-change="selectCountryForAppFollow(country)">
        {{country.name}}
      </label>
    </div>
  </div>


  </div>

  <div class="modal-footer modal-footer-product">
  </div>

</script>
{% endverbatim %}


