<div class="navbar navbar-dashboard">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- i class="search-icon mdi-action-search visible-xs"></i -->

<!-- a href="javascript:void(0)" ng-click="openAlertsPopover()"><span class="badge alert-badge" ng-hide="{{ todos|length }}==0">{{ todos|length }}</span></a -->

    <ul class="nav navbar-nav navbar-left">
      <li>
         <a style="margin-top:-5px !important;" href="/"><img src="/static/img/logo-colored.png" style="width:45px"></a>
      </li>
      <li class="visible-xs"> 
        <a class="company-name" ng-click="openProductPopover()">
          {% verbatim %}{{graphData.appInfo.companyName}}{% endverbatim %}<span ng-if="!graphData.appInfo.companyName">NewCo, Inc.</span>
          &nbsp;<span class="caret"></span>
        </a>
      </li> 
      <li ng-if="!active.following">
        <a class="products-button-header hidden-xs" ng-click="openProductPopover()" href="javascript:void(0)">Products
          &nbsp;<span class="caret"></span>
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right" style="margin-right:5px" ng-cloak>
      <li ng-hide="graphData.series_name != null" style="padding-left:15px;">{% include 'partials/dashboard-tabs-partial.html' %}
      <BR /><BR />

      </li>
      <!--li>
        <a href="javascript:void(0)" ng-click="showSearch()" class="search-button">
          <i class="mdi-action-search" ng-click="searchShowing=!searchShowing;"></i>
        </a>
              </li-->

       <!--li ng-class="{'search-display':searchShowing, 'search-hide':!searchShowing}">
        <div class="searchBackground" 
        ng-class="{'search-display':searchShowing, 'search-hide':!searchShowing}">
         <input type="text" 
          class="form-control" style="color:white"
          ng-model="selectedCustomer.value" 
          typeahead="c as c.value for c in getCustomers($viewValue)" 
          placeholder="Search for Users" 
          typeahead-min-length="2"
          typeahead-on-select="onSelect($item)" 
          typeahead-wait-ms="300" 
          ng-class="{'search-display':searchShowing, 'search-hide':!searchShowing}"/>
      </div>
      </li-->

          {% if user.is_authenticated %}
          <li class="visible-xs"><a href="/support/">Support</a></li>
          <li class="visible-xs"><a href="/accounts/logout/">Logout</a></li>
          {% else %}
          <li class="visible-xs"><a href="/account/login/">Login</a></li>
          {% endif %}
    </ul>
  </div>

  {% block extended_menu %}{% endblock %}

</div>

{% include "partials/signup-popover-partial.html" %}
{% include "partials/alerts-popover-partial.html" %}