{% if user %}
{% if developer_mode and view_type == 'real_dashboard' %}
<div class="alert alert-success" 
     role="alert">
	<div class="dev_message"> 
		You are <b>in Development</b>. When you go live, flip the switch to select a plan. 
	</div>
	<div class="dev_switch">
		<switch ng-change="toggleProductionMode()" 
		               id="productionMode" 
		             name="productionMode" 
		         ng-model="productionMode" class="blue" >
		</switch>
	</div>
	<div style="clear:both"></div>
</div>
{% endif %}
{% endif %}