{% verbatim %}
<div class="graph-containers">
  <div style="height:1px;width:100%;clear:both;margin-bottom:10px"></div>

  <div style="background-color:rgba(242,242,243,1) !important" class="row" ng-repeat="row in graphData.productArrays">
    <div class="col-xs-12 col-sm-4 graph-column" ng-repeat="value in row" style="background-color:rgba(0,0,0,0)">
     <div class="outer-graph-container">
       <div class="little-graph-label" style="height:77px">
         <img class="platform-icon" ng-src="{{graphData.platformImages[value.platform]}}" />
         <img class="app-icon" ng-src="{{value.icon}}"  style="float:left;margin-left:10px;margin-top:-5px" />
         <div style="color:white;vertical-align: middle !important;height:100%">{{graphData.nameForProduct(value.product_id)|limitTo:29}}</div>

       </div> 
       <div class="product-container shadow-z-1 table-responsive">
         <div class="paddingContainer">

          <table class="table table-striped table-condensed f11 table-nowrap">
            <tbody>

            <tr>
               <td colspan="2">
              <rickshaw rickshaw-options="graphData.product_graphs[value.product_id].options" rickshaw-features="graphData.product_graphs[value.product_id].features" rickshaw-series="graphData.product_graphs[value.product_id].series">
              </rickshaw> 
            </td>
          </tr>

          <tr><td style="text-align:center;"  colspan="2">

           <div style="margin:0 auto;float:none;display:inline-block">

             <div style="display:inline-block;">
               <div style="text-align:center;width:100%" class="big-graph-num">
                 {{graphData.valueForGraph(graphData.product_graphs[value.product_id])}}
               </div><BR />
               <div class="little-graph-time-label" style="width:100%"> 
                 {{endDateString()}}
               </div>
             </div>

             <div ng-hide="graphData.percentChangeForGraph(graphData.product_graphs[value.product_id]) == 0" style="text-align:center;display:inline-block;">
               <span style="width:100%;display:inline-block;" class="percent-label" ng-class="{ 'graph-positive': graphData.percentChangeForGraph(graphData.product_graphs[value.product_id]) < 0, 'graph-positive': graphData.percentChangeForGraph(graphData.product_graphs[value.product_id]) > 0}">
                (<span ng-if="graphData.percentChangeForGraph(graphData.product_graphs[value.product_id])>0">+</span>{{graphData.percentChangeForGraph(graphData.product_graphs[value.product_id]) | percentage:1}})
              </span> 
              <BR />
              <div class="little-graph-time-label" style="width:100%"> 
               {{graphData.product_graphs[value.product_id].series[0].data.length}} Days
             </div>
           </div>

         </div>

       </td></tr>


             <!-- app sales row -->
             <tr ng-hide="graphData.salesForProduct(value.product_id)==0 || graphData.salesForProduct(value.product_id)=='$0' || 'Daily Users'==graphData.graphs[0].name || '28-Day Users'==graphData.graphs[0].name || 'Sessions'==graphData.graphs[0].name">
               <td >App Sales</td>     
               <td class="sales-value">
                 {{graphData.salesForProduct(value.product_id)}}
               </td>        
             </tr>

             <!-- in app purchases -->
             <tr ng-repeat="p in value.in_app_products"  ng-hide="graphData.salesForProduct(p.product_id)==0 || graphData.salesForProduct(p.product_id)=='$0'">
               <td>
                 {{p.product_id_string|limitTo:40}}
               </td>
               <td class="sales-value">
                 {{ graphData.salesForProduct(p.product_id) }}
               </td>
             </tr>

             
     </tbody>
   </table>

 </div>
</div>


</div> 
</div>
</div>
</div>
{% endverbatim %}
