<div class="navbar navbar-dashboard">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <i class="search-icon mdi-action-search visible-xs"></i>

<!-- a href="javascript:void(0)" ng-click="openAlertsPopover()"><span class="badge alert-badge" ng-hide="{{ todos|length }}==0">{{ todos|length }}</span></a -->

    <ul class="nav navbar-nav navbar-left">
      <li class="hidden-xs">
        <a ng-cloak class="company-name" href="/">
          {% verbatim %}{{graphData.appInfo.companyName}}
          <span ng-if="!graphData.appInfo.companyName">NewCo, Inc.</span>{% endverbatim %}
        </a>
      </li>
      <li class="visible-xs"> 
        <a class="company-name" ng-click="openProductPopover()">
          {% verbatim %}{{graphData.appInfo.companyName}}{% endverbatim %}
          &nbsp;<span class="caret"></span>
        </a>
      </li> 
      <li>
        <a class="products-button-header hidden-xs" ng-click="openProductPopover()" href="javascript:void(0)">Products
          &nbsp;<span class="caret"></span>
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right" ng-cloak>
      <li>
        <a href="javascript:void(0)" ng-click="showSearch()" class="search-button">
          <i class="mdi-action-search" ng-click="searchShowing=!searchShowing;"></i>
        </a>
              </li>

       <li ng-class="{'search-display':searchShowing, 'search-hide':!searchShowing}">
        <div class="searchBackground" 
        ng-class="{'search-display':searchShowing, 'search-hide':!searchShowing}">
         <input type="text" 
          class="form-control" 
          ng-model="selectedCustomer.value" 
          typeahead="c as c.value for c in getCustomers($viewValue)" 
          placeholder="Search for Users" 
          typeahead-min-length="2"
          typeahead-on-select="onSelect($item)" 
          typeahead-wait-ms="300" 
          ng-class="{'search-display':searchShowing, 'search-hide':!searchShowing}"/>
      </div>
      </li>

      {% if user.is_authenticated %}
      <li class="dropdown">
        <a href="javascript:void(0)" data-toggle="dropdown">
          {{ user.username }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/account/">Account</a></li>
          <li class="divider"></li>
          <li><a href="/accounts/logout/">Log Out</a></li>
        </ul>
      </li>
      {% endif %}    

      <li class="dropdown visible-xs">
        <a href="javascript:void(0)" data-toggle="dropdown">
          Login & More <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/accounts/login/">Login</a></li>
          <li><a href="/support/">Support</a></li>
          <li><a href='/about/'>About Us</a></li>
          <li><a href='/jobs/'>Jobs</a></li>
          <li><a href='/terms-of-use/'>Terms of Service</a></li>
        </ul>
      </li>
    </ul>
  </div>

  {% block extended_menu %}{% endblock %}

</div>

{% include "partials/signup-popover-partial.html" %}
{% include "partials/alerts-popover-partial.html" %}