    {% verbatim %}
	    <div class="col-sm-12 graph-column" ng-if="graphData.graphs[0]">
	    <div class="big-graph">
        <div class="big-graph-title">{{graphData.graphs[0].name}}</div>
    		<div style="clear:both;margin-bottom:20px"></div>
		    <rickshaw
          rickshaw-options="graphData.graphs[0].options"
          rickshaw-features="graphData.graphs[0].features"
          rickshaw-series="graphData.graphs[0].series">
        </rickshaw>
		    <div class="growth-expansion">
			    <div class="col-xs-12 col-sm-2" ng-repeat="i in growthWeeks.slice().reverse()" ng-hide="!graphDataDrilldown.pastSalesForSeries(graphData.series_name, i, true) && i > 0">
		        <div class="shadow-z-1 historical-increases">
		           <h3>
		             {{graphDataDrilldown.pastSalesStringForSeries(graphData.series_name, i, true)}} 
		           </h3>
		           <div class="percent-label" ng-class="{ 'graph-positive': graphDataDrilldown.percentGrowthSince(graphData.series_name,i) < 0, 'graph-positive': graphDataDrilldown.percentGrowthSince(graphData.series_name,i) > 0, 'graph-invisible':i==0}">
		             {{graphDataDrilldown.percentGrowthSince(graphData.series_name,i)|percentage:1}}</div>
		           <div ng-if="i == 0 ">
		             Yesterday
		           </div>
		           <div ng-if="i == 1 ">
		             {{i}} week ago
		           </div>
		           <div ng-if="i != 0 && i != 1 && i !=52">
		             {{i}} weeks ago
		           </div>
		           <div ng-if="i == 52 ">
		             1 year ago
		           </div>
		        </div>
	      </div>
	      <div class="col-xs-12 col-sm-2" ng-if="graphData.shouldTotal(graphData.graphs[0])">
		        <div class="shadow-z-1 historical-increases">
		           <h3>
		             {{graphDataDrilldown.totalForGraph(graphData.graphs[0])}}		           </h3>
		             <div class='graph-invisible'>0</div>
		           <div >
		             Period Total
		           </div>
		        </div>
	      </div>
	    </div >
    </div>
    </div>
    {% endverbatim %}
