<footer class="footer">
  <div class="container-fluid">
  <ul class="list-inline list-unstyled footer-menu-container">
    <li><a class="footer-link" href='/accounts/login/'>Login</a></li>
    <li><a class="footer-link" href="/pricing/" class="menu-link">Pricing</a></li>
    <li><a class="footer-link" href='/faq/'>FAQ</a></li>
    <li><a class="footer-link" href="/support/">Support</a></li>
    <li><a class="footer-link" href='/terms-of-use/'>Terms of Service</a></li>
   </ul>
  </div>
</footer>
