<div class="container-fluid" style="padding-left:0;margin-top:20px;">

<div class="tabbable tabs-left">
	<ul class="nav nav-tabs nav-pills gray">
		<li class="active">
			<a class="gray" href="#sync-reports" data-toggle="tab">
				<i class="mdi-action-cached"></i>
				Sync Sales Reports
			</a>
		</li>
		<!-- li>
			<a class="gray" href="#drop-in-sdks" data-toggle="tab">
				<i class="mdi-hardware-tablet-mac"></i>
				Drop in the SDKs
			</a>
		</li>
		<li>
			<a class="gray" href="#track-custom-events" data-toggle="tab">
				<i class="mdi-action-perm-data-setting"></i>
				Track Custom Events
			</a>
		</li -->
		<li>
			<a class="gray" href="#hide-setup" data-toggle="tab">
				<i class="mdi-action-done"></i>
				Hide Setup
			</a>
		</li>

	</ul>


	<div class="tab-content col-sm-7 col-xs-12 no-left-pad">
		<div class="tab-pane active" id="sync-reports">
			<div ng-controller="AccountController">
				<h2>
					Sync Sales Reports
				</h2>
				<p>
					Great sales metrics in just a few seconds.
				</p>
				<div class="row">
					<div class="no-left-pad">
						{% include 'partials/sync-sales-reports-partial.html' %}
					</div>
				</div>
			</div>
		</div>
		<!--div class="tab-pane" id="drop-in-sdks">
			<h2>
				Drop in the SDKs
			</h2>
			<p>
				Useful usage metrics with zero customization. Turn on user profiles to help support and sales activities.
			</p>
			<ul class="list-inline list-unstyled">
				<li>
					<a href="/docs/#?tab=iOS" target="_self" class="btn btn-primary btn-raised"><img src="/static/img/apple-bite.png" />iOS</a></li>
					<li>
						<a href="/docs/#?tab=Android" target="_self" class="btn btn-primary btn-raised"><img src="/static/img/android.png" />Android</a>
					</li>
				</ul>
			</div>
			<div class="tab-pane" id="track-custom-events">
				<h2>
					Track Custom Events
				</h2>
				<p>
					Track custom events, tightly integrated with your sales metrics.
				</p>
				<ul class="list-inline list-unstyled">
					<li>
						<a href="/docs/#?tab=iOS" target="_self" class="btn btn-primary btn-raised"><img src="/static/img/apple-bite.png" />iOS</a>
					</li>
					<li>
						<a href="/docs/#?tab=Android" target="_self" class="btn btn-primary btn-raised"><img src="/static/img/android.png" />Android</a>
					</li>
					<li>
						<a href="/docs/#?tab=Web" target="_self" class="btn btn-primary btn-raised"><img src="/static/img/code-icon.png" />Web API</a>
					</li>
					<li>
						<a href="/docs/#?tab=Python" target="_self" class="btn btn-primary btn-raised"><img src="/static/img/python.png" />Python</a>
					</li>
				</ul>
			</div -->
			<div class="tab-pane" id="hide-setup">
				<h2>
					Hide Setup
				</h2>
				<p>
					After you hide the Setup tab, you can setup your account further on the <a href="/account">Account page</a>.
				</p>
				<a ng-click="$root.hideSetup()" class="btn btn-primary btn-raised">Hide Setup</a>

			</div>

		</div>
	</div>
</div>

