{% extends "base.html" %}

{% block title %} App Theta Help - Make an iTunesConnect Sales Account{% endblock %}

{% block content %}

<div class="container-fluid">

	<div class="row">

<div class="col-sm-12">

<div class="info-box shadow-z-1" style="padding:20px;background-color:white;margin-bottom:30px">
<h1 style="margin-top:0">Make an iTunesConnect Sales Account</h1>
<p>To keep your iTunesConnect account secure, you can make a Sales-Reports-only account to connect to App Theta.</p>

<h2 style="margin-top:30px"> 1) Sign in to <a href="http://itunesconnect.apple.com">iTunesConnect.apple.com</a></h2>
<img style="width:100%" src="/static/img/help/1-itc-signin.png" />
</div>

<div class="info-box shadow-z-1" style="padding:20px;background-color:white;margin-bottom:30px">
<h2> 2) Select Users and Roles</h2>
<img style="width:100%" src="/static/img/help/2-itc-select-users-and-roles.png" />
</div>

<div class="info-box shadow-z-1" style="padding:20px;background-color:white;margin-bottom:30px">
<h2> 3) Click the (+) button to add a new user.</h2>
<img style="width:100%" src="/static/img/help/3-itc-click-plus.png" />
</div>

<div class="info-box shadow-z-1" style="padding:20px;background-color:white;margin-bottom:30px">
<h2> 4) Enter info for the test user. Hint, you can add "+theta" in your email address and you will still get the email. For example, "me+theta@mycompany.com" will be delivered to "me@mycompany.com"</h2>
<img style="width:100%" src="/static/img/help/4-itc-enter-user-info.png" />
</div>

<div class="info-box shadow-z-1" style="padding:20px;background-color:white;margin-bottom:30px">
<h2> 5) Click the checkbox to make the user a Sales user, and click Next.</h2>
<img style="width:100%" src="/static/img/help/5-itc-check-sales.png" />
</div>

<div class="info-box shadow-z-1" style="padding:20px;background-color:white;margin-bottom:30px">
<h2> 6) On the next screen, click Save. You don't need to add alerts for the user. </h2>
<img style="width:100%" src="/static/img/help/6-itc-notifs.png" />
<BR /><BR />
<p>Check your email to verify the account, and you can now use it to sync reports to App Theta.</p>
</div>
</div></div>

</div>
	</div>

</div>

{% endblock %}