{% extends "base.html" %}

{% block title %} App Theta Help - Android SDK - Retrieving Your Google Play License Key{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
	  <div class="col-sm-12">
      <div class="info-box shadow-z-1" style="padding:20px;background-color:white;margin-bottom:30px">
        <h1 style="margin-top:0">Android SDK - Retrieving Your Google Play License Key</h1>

				<h2 style="margin-top:30px;margin-bottom:30px"> 1) Sign in to your <a href="https://play.google.com/apps/publish/">Google Play dashboard</a></h2>
			
				<h2> 2) Click "Services and APIs" on the left, and copy your key.</h2>
				<img style="width:100%" src="/static/img/help/google-play-key.png" />
		</div>
	</div>
</div>
</div>

{% endblock %}