<div id="iOSContent">

  <h3>Install with Cocoapods</h3>

  <pre>pod install scriber</pre>

  <h3>Install Manually</h3>

  <p>
    <ol>
      <li> <a href="https://github.com/Scriber/scriber-ios-pod">Download the framework from Github</a>.</li>

      <li> Drag the Scriber framework to your project.</li>

      <li> Add two Apple frameworks as dependencies: StoreKit and SystemConfiguration.</li>
    </ol>
  </p>

  <h3>Basic Usage</h3>
  <p>Add the Scriber header to MYAppDelegate.m</p>

  <pre>#import "Scriber.h"</pre>

  <p>Start Scriber, by adding this line to your<em>application:didFinishLaunchingWithOptions:</em> method.</p>

  <p>After you insert this line, launch and background the app. You should immediately see a ping on your real-time graph, on <a href='/dashboard'>apptheta.com/dashboard</a></p>

  <pre>[Scriber loginUserForAPIKey:{{api_key}}];</pre>

  <h3>User Profiles</h3>
  <p>To enable user-level profiles, set an email, username, or ID.</p>
  <p>Set an email if you want to be able to contact them from Scriber's API/dashboard.</p>

  <pre>[Scriber setEmail:@"SOME_EMAIL"];</pre>

  <p>Set a username or ID, for use in the API, or to make anonymous profiles.</p>

  <pre>[Scriber setUsername:@"SOME_USERNAME"];</pre>
  <pre>[Scriber setUserID:@"SOME_USER_ID"];</pre>

  <p>Log out a user, when they log out of your system.</p>
  <pre>[Scriber logout];</pre>

  <h3>Track Events (simple label)</h3>
  <p>You can record custom events with Scriber, for use on apptheta.com and via the API. The simplest way is to use just a label:</p>
  <pre>[Scriber recordEvent: @"my event label"]</pre>

  <h3>Track Events (labels and values)</h3>
  <p>You can also record events with properties.</p>
<pre>
NSDictionary *scoreEvent = @{ @"Score": @(1234), 
                              @"User Type": @"Free" };
[Scriber recordEvent:@"Score" properties:scoreEvent];
</pre>

</div>

