    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logo-colored.png"/>
    <title>{% block title %}{% endblock %}</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700,600,400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/material-override.css?z" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/signup.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <!-- include angular up top so ng-cloak works -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>    <![endif]-->
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">


<link rel="styleSheet" href="/static/bower_components/angular-ui-grid/ui-grid.css"/>
<script src="/static/bower_components/angular-ui-grid/ui-grid.js"></script>