    <!--bootstrap/jquery-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js"></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script> 

    <!-- libs -->
    <script src="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>

    <!-- main angular shim -->
    <script src="{{ STATIC_URL }}js/app.js"></script>

    <!--Material bootstrap-->
     <script src="{{ STATIC_URL }}bower_components/arrive/src/arrive.js"></script>
    <script src="{{ STATIC_URL }}bower_components/bootstrap-material-design/dist/js/material.js"></script>
      <script src="/static/bower_components/angularjs-ordinal-filter/ordinal-browser.js"></script>
     <script src="{{ STATIC_URL }}bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src="{{ STATIC_URL }}js/signup-controller.js"></script>
    <script src="{{ STATIC_URL }}js/dashboard-controller.js"></script>
    <script src="{{ STATIC_URL }}js/DatePickerService.js"></script>
    <script src="{{ STATIC_URL }}js/SearchController.js"></script>
    <script src="{{ STATIC_URL }}js/util.js"></script>
    <script src="{{ STATIC_URL }}js/directives.js"></script>
    <script src="{{ STATIC_URL }}bower_components/moment/moment.js"></script>
    <script src="{{ STATIC_URL }}bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
    <!-- set up the dropdown -->
    <script> 
                 $("#dropdown-menu select").dropdown();
    </script>

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">

    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//v2.zopim.com/?2ks9qPHJD8IyKRvxUvWpG8YhWoMuGMnB';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    <!--End of Zopim Live Chat Script-->

    {% include "partials/mixpanel-partial.html" %}
    {% include "partials/google-analytics.html" %}

