    <div ng-if="active.sales || active.usage" ng-hide="graphData.dataLoaded && !graphData.graphs">
    {% include 'partials/date-selector-partial.html' %}  
    {% if user.email %}  
    <div style="float:left;margin-top:10px"><a href="/dashboard/test_daily_email/{{user.email}}/">Yesterday's Report</a>
  </div>
  {% endif %}
  {% verbatim %}			
  <div style="height:1px;width:100%;clear:both;margin-bottom:10px"></div>
  <div ng-if="!graphData.dataLoaded && !graphData.graphs.length && !pollForUpdateGoing">
    Sales data loading. 
        <div class="spinner spinner-small">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                </div>
  </div>
  <div ng-if="activeGraphData.graphs.length">
    <div class="col-xs-12 col-sm-4 graph-column"  ng-repeat="graph in activeGraphData.graphs" style="background-color:rgba(242,242,243,1) !important" >
      <div class="outer-graph-container">
       <div class="little-graph-label">{{graph.name}}<span ng-if="activeGraphData.isInactiveSDKGraph(graph)"> (<a style="color:red;text-decoration:underline" href="/docs/">Inactive, add the SDK</a>)</span>
       <a class ="help_link" href="javascript:void(0)" data-title="{{graph.help_text}}">
         <i class="mdi-action-help" style="font-size:24px !important;padding-left:1px;padding-top:1px;" ></i>
       </a>
       </div>
       <div class="graph-container shadow-z-1" ng-class="{ 'active-graph': graph.name == graphData.realtimeGraphType}">
        <div class="view view-first">
         <div class="paddingContainer">
          <div style="clear:both"></div>
          <div style="padding:10px">
           <rickshaw rickshaw-options="graph.options" rickshaw-features="graph.features" rickshaw-series="graph.series">
           </rickshaw>	
         </div>	
         <div style="text-align:center">
          <div style="display:inline-block">
           <div style="text-align:center">
            <a href='/dashboard/drilldown/{{graph.name}}/' class="big-graph-num">
             {{graphData.valueForGraph(graph)}}
           </a>
         </div>
         <div class="little-graph-time-label"> {{endDateString()}}</div>
       </div>

       <div ng-hide="activeGraphData.percentChangeForGraph(graph) == 0" style="text-align:center;display:inline-block">
        <span class="percent-label" ng-class="{ 'graph-positive': activeGraphData.percentChangeForGraph(graph) < 0, 'graph-positive': activeGraphData.percentChangeForGraph(graph) > 0}">
          (<span ng-if="activeGraphData.percentChangeForGraph(graph)>0">+</span>{{activeGraphData.percentChangeForGraph(graph) | percentage:1}})
        </span> 
        <div class="little-graph-time-label"> 
          {{graph.series[0].data.length}} Days
        </div>
      </div>
    </div>



  </div>	
  <div class="mask" ng-if="active.sales==true">
   <div class="mask_content">
    
    <a class="btn btn-primary centered" ng-click="openGraph(graph)">App Breakdown</a>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endverbatim %}
