
<div class="navbar navbar-default" style="position:relative;z-index:1001">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="logo-div" ><a id="logo-link" href="/"><img src="/static/img/apptheta-logo.png"></a></div>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if not user.is_authenticated %}
          <li><a id="demo-link" href="/demo/" class="menu-link">
          <i class="mdi-action-assessment"></i>
          <span class="hidden-sm">Dashboard</span> Demo</a></li>
          {% endif %}
          <li><a id="rankings-link" class="menu-link" href="/rankings/">
            <i class="mdi-editor-format-list-numbered"></i>
            App Rankings
          </a></li>

         <li><a id="blog-link" href='http://news.apptheta.com/' class="menu-link" target="_new">
            <i class="mdi-action-face-unlock"></i>
         Blog</a></li>
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a id="user-menu-link" href="javascript:void(0)" data-toggle="dropdown">
              {{ user.username }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a id="user-menu-account" href="/account/">Account</a></li>
              <li class="divider"></li>
              <li><a id="user-menu-logout" href="/accounts/logout/">Log Out</a></li>
            </ul>
          </li>
          {% endif %}    
          <li class="visible-xs">
              <a id="login-link" href="/accounts/login/">Login</a>
          </li>
        </ul>
      </div>
      {% block extended_menu %}{% endblock %}

       <div ng-controller="SearchController" class="homeSearch searchBackground" >
         <input type="text" 
          ng-focus="trackSearch()"
          class="form-control search-display"
          ng-model="selectedApp.value" 
          typeahead="c as c.value for c in getApps($viewValue)" 
          typeahead-on-select="onSelect($item)" 
          placeholder="Search for Apps" 
          typeahead-min-length="2"
          typeahead-wait-ms="300" />
          
        </div>
        <script type="text/ng-template" id="appSearchItem.html" ng-controller="SearchController" >
            {% verbatim %}
            <a>
              <img ng-src={{testImg()}} />
              {{match.model.value}}
            </a>
            {% endverbatim %}
          </script>
    </div>

    {% include "partials/signup-popover-partial.html" %}