<!--#product popover--> 
<script type="text/ng-template" id="product_popover.html">
	<div class="modal-header modal-header-product">
		<h3 style="float:left" class="modal-title">Select Products</h3>
		<button style="float:right;margin-top:-5px" class="btn btn-primary" ng-click="cancel()">Done</button>
		<div style="clear:both"></div>
	</div>
	<div class="modal-body modal-body-product">
	  <div ng-if="!graphData.productArrays">
	    Connect your apps using account sync or the SDKs to activate App Theta.
	  </div>
		<div id="products">
			<div class="row" ng-repeat="row in graphData.productArrays">
				<div class="col-xs-12 col-sm-6" ng-repeat="value in row">
					<div class="padding-container">
						<div class="product-container shadow-z-1">
							{% verbatim %} 
              <img class="app-icon" style="width:32px !important;height:32px !important;margin-right:5px" ng-src="{{value.icon}}" />
							<div class="product-name truncate" style="width:275px">{{graphData.appInfo.fetchedInfo[graphData.products[value.product_id].product_id_string].name}}</div>
							<div class="check-div">
								<input type="checkbox" ng-change="refreshGraphsAfterProductSelect(value.product_id);" ng-model="value.checkedOverall" />
							</div>
							<div style="clear:both"></div>
							<div class="subproduct-div">
								<div class="check-div">
									<input type="checkbox" ng-change="saveAndRefreshUI();" ng-model="value.checked" />
								</div>
  							<img ng-src="{{graphData.platformImages[value.platform]}}" />
								<div>App Sales</div>
							</div>

							<div class="subproduct-div" ng-repeat="p in value.in_app_products">
								<div class="check-div">
									<input type="checkbox" ng-change="refreshGraphsAfterProductSelect(p.product_id);" ng-model="p.checked" />
								</div>

								<div>{{p.product_id_string|limitTo:40}}</div>
							</div>
							{% endverbatim %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer modal-footer-product">
	</div>

</script>
