<div id="pythonContent">

  <h3>Install</h3>
  <pre>pip install scriber</pre>
  <a href="https://github.com/Scriber/pyscriber">View the source code on Github</a>.
  
  <h3>Basic Usage</h3>
  <p>Import the Scriber library.</p>

  <pre>import scriber</pre>

  <p>Start Scriber, by intializing with your API key (your real key is inserted below). For analyzing your website, use the domain for the app_id</p>

  <pre>s = Scriber(“{{api_key}}”, "example.com")</pre>

  <h3>Track Events (simple label)</h3>
  <p>You can record custom events with Scriber, for use on apptheta.com and via the API. The simplest way is to use just a label. Use an email for user_id if you want to be able to search users on apptheta.com.</p>

  <pre>s.record_event("&lt;user_id&gt;", "&lt;event_label&gt;")</pre>
  <p>For example: <pre>s.record_event("email@example.com",  "Login Success")</pre></p>

  <p>You should immediately see a ping on your real-time graph, on <a href='/dashboard'>apptheta.com/dashboard</a>.</p>

  <h3>Track Events (labels and values)</h3>
<p>You can do a dictionary with keys and values.</p>
<pre>
score_info = { "Score": 1234, 
               "User Type": "Pro" }
s.record_event("email@example.com", "Game Over", score_info)
</pre>
<p>You can also record events in batch. Specify a timestamp for each event.</p>
<pre>
import datetime
event = {"event_label": "Game Over",
         "event_time": datetime.datetime.now(), 
         "event_info": score_info } 
s.record_events("email@example.com", [event])
</pre>

</div>