  <link type="text/css" rel="stylesheet" href="  {{ STATIC_URL }}js/rickshaw/css/graph.css">
  <link type="text/css" rel="stylesheet" href="  {{ STATIC_URL }}js/rickshaw/css/detail.css">
  <link type="text/css" rel="stylesheet" href="  {{ STATIC_URL }}js/rickshaw/css/legend.css">
  <link type="text/css" rel="stylesheet" href="  {{ STATIC_URL }}js/rickshaw/extensions.css?v=2">

  <script src="//cdn.jsdelivr.net/d3js/3.5.5/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.5.1/rickshaw.min.js"></script>
  <script src="  {{ STATIC_URL }}js/rickshaw/extensions.js"></script>
  <script src="  {{ STATIC_URL }}js/rickshaw-overrides.js"></script>
